[2020-07-17 16:35] kitenetter opened #1 "Feature request: allow locations to be saved"
A user who regularly records at the same location asks if we can enable locations to be saved, to avoid having to re-enter each time, or wait for GPS each time.

[2020-09-15 11:26] kitenetter opened #2 ""Further info" link not working"
A user reports that the further info link for Chalkhill Blue is not working. The link goes to:
https://butterfly-conservation.org/679-1275/chalkhill-blue.html

which produces a page-not-found error.

Is it possible to redirect that URL so that it goes to:
https://butterfly-conservation.org/butterflies/chalk-hill-blue

[2020-09-15 11:43] kitenetter opened #3 "Terms of use out of date"
On the app's registration page there is a link to "iRecord Terms and Conditions", but these are coded into the app and do not link to the 'live' terms of use on the website. The app terms are now out of line with the website.

[2020-09-16 10:10] kitenetter opened #4 "User feedback"
User feedback from a new user at 6 September 2020:

1) from the screen, it was clear how to select species identified but not how to add them and the number seen to complete the submission.  To do this I discovered you have to ‘open up’ on each butterfly by name and then select.  Not obvious or I suggest a required step.  One should be able to identify & number from a single screen.

2) Date - I t

[2020-09-16 10:30] kitenetter commented on #4
I'm unable to replicate the problems described.

[2021-01-02 16:17] DavidRoy opened #5 "Add day-flying moths to species list and guide"
- [x] Add warehouse ids
- [x] Show when to find species text if no lifechart
- [x] Show a moth thumbnail if no image

[2021-01-02 16:42] DavidRoy opened #6 "Update species maps for guide"
BC to advise on source.

Option is to create using a script applying alpha hull to BNM data.

[2021-01-02 16:49] DavidRoy opened #7 "Investigate option to include 'what 3 words' for locations"
Contact 'what 3 words' to discuss pricing options

https://what3words.com/select-plan?referrer=/public-api&currency=GBP

[2021-01-02 17:01] DavidRoy opened #8 "Review species images for guide"
- alternatives for existing photos
- images for all life-cycle stages
- 'confusion species' images

[2021-01-02 17:05] DavidRoy opened #9 "revised approach to abundance"
1. remove number ranges
2. provide option for exact number
3. ~~add new occurrence_attribute (tick box) for 'is this an estimate?' - for both single-sighting and survey modes?~~

[2021-01-02 17:12] DavidRoy opened #10 "contact existing users about new version"
To avoid loss of records for existing users, email all to notify of updated version to be made available

[2021-01-11 11:16] kazlauskis opened #11 "Add confusion species"

[2021-01-11 11:20] DavidRoy commented on #11
images to appear in guide for both/all species

[2021-01-11 11:22] kazlauskis opened #12 "Add a lifecycle chart"
Missing lifecycle charts:
- Danaus plexippus
- Issoria lathonia
- Lampides boeticus
- Nymphalis antiopa
- Nymphalis polychloros

[2021-01-11 11:23] kazlauskis opened #13 "Add species comparison option"
Something like a split view that shows multiple species.

[2021-01-11 11:24] kazlauskis opened #14 "Update privacy policy and T&Cs"

[2021-01-11 15:45] DavidRoy commented on #12
or - https://butterfly-conservation.org/butterflies/adonis-blue

[2021-01-11 16:34] DavidRoy commented on #6
BC to investigate re-use of existing maps created for recent field guide - therefore no need to recreate from BNM data

[2021-01-11 16:35] DavidRoy commented on #9
No need for number 3 (i.e. no tick box needed)

[2021-01-11 16:36] DavidRoy commented on #5
Not required for version released in April 2021.  Longer term aim to include but details of implementation to be agreed.
Revisit with a discussion and mockup when time allows

[2021-02-04 09:30] kazlauskis commented on #3
Can I just point to the new iRecord site T&Cs and privacy policy in the app?

[2021-02-04 09:32] kazlauskis commented on #4
This will be now irrelevant in the new app version.

[2021-02-04 09:32] #4 closed

[2021-02-04 09:32] kazlauskis commented on #14
Duplicate of #3

[2021-02-04 09:32] #14 closed

[2021-02-10 09:38] kazlauskis commented on #12
@RichardFoxBC there are few species charts missing, is it OK to release the app without these?

[2021-02-10 11:50] RichardFoxBC commented on #12
Yes that's fine @kazlauskis Those are all rare migrant species so the life cycle chart isn't really relevant for the UK

[2021-02-10 13:21] #12 closed

[2021-02-12 13:09] #6 closed

[2021-02-16 09:11] #9 closed

[2021-02-16 10:09] #2 closed

[2021-02-24 19:45] DavidRoy commented on #8
Main images = BC species image gallery.  RF/AM to investigate
Life-cycle stages images = complete
Confusion species = DR to obtain from Peter Eeles

[2021-02-24 19:47] DavidRoy opened #15 "Finalise onboarding text and images"
Text and images for introductory pages when app first used

[2021-02-24 20:15] DavidRoy opened #16 "Relabel filter button"
When setting filters, relabel [Cancel/Back] button to 'Apply'

So that grey filter box is removed once selections are final

[2021-02-24 20:17] DavidRoy opened #17 "Finalise list of credits"
list of photographers of images used

BC staff who have contributed to content, e.g. species cut-outs

[2021-02-25 08:52] kazlauskis commented on #8
Just to say that I have shared a OneDrive folder with Richard for adding any gallery photos next to Peter Eeles ones. The photos have now their own sheet in our main excel document.

<img width="306" alt="Screenshot 2021-02-24 at 11 53 24" src="https://user-images.githubusercontent.com/7383162/109127721-a4b9fb00-7746-11eb-935a-712ff7519b47.png">

[2021-02-25 08:55] kazlauskis commented on #15
This would typically be 1-5 slides. The text should be short, 1-2 sentences. Here are some examples:

<img width="370" alt="Screenshot 2021-02-25 at 08 54 40" src="https://user-images.githubusercontent.com/7383162/109128226-3295e600-7747-11eb-9038-4042b82e4f5e.png">
<img width="363" alt="Screenshot 2021-02-25 at 08 54 35" src="https://user-images.githubusercontent.com/7383162/109128246-3590d680-77

[2021-02-25 10:37] #16 closed

[2021-03-03 15:51] kazlauskis opened #18 "Add summary report"
The current app has a summary report on the `My Account` page and it would be good to have something like that in the next app release.

Unfortunately, for some reason, it doesn't always load and might be slow at times so a new report might be better. It seems like the current report in use is `library/totals/user_survey_contribution_summary.xml`(could be different though).

![IMG_1053](https://us

[2021-03-03 16:02] DavidRoy commented on #18
@johnvanbreda could you give your view on how feasible it would be to convert this report to ElasticSearch - library/totals/user_survey_contribution_summary.xml

even if only partly covering the existing functionality

[2021-03-05 14:33] kazlauskis commented on #8
I have all the images now.

[2021-03-05 14:33] #8 closed

[2021-03-10 13:27] kazlauskis commented on #11
We'll use photos for now.

[2021-03-10 13:27] #11 closed

[2021-03-10 13:47] kazlauskis commented on #3
From discussions it will be a link.

[2021-03-11 15:23] RichardFoxBC commented on #10
BC Head Office have now emailed all 14,000 existing users of the iRecord Butterflies app

[2021-03-11 15:27] DavidRoy commented on #10
I received mine, thanks.  I'll close this issue now :-)

[2021-03-11 15:27] #10 closed

[2021-03-11 15:54] DavidRoy opened #19 "Funder acknowledgement"
Within Credits page, please add section:

**Funding**
We are grateful to Butterfly Conservation, Defra, the Joint Nature Conservation Committee for all contributing to the funding of the application.

[2021-03-16 08:56] johnvanbreda commented on #18
@DavidRoy I think all the metrics except league position are easily achieved in Elasticsearch.

[2021-03-16 09:00] DavidRoy commented on #18
@johnvanbreda could you switch the report over to ES in that case, as a quick fix to the main elements of the league table

[2021-03-16 09:47] johnvanbreda commented on #18
Here's the body of a request to one of the REST API's ES endpoints, note that the created_by_id and year will need to be set appropriately. Also the outer query on website ID might not be necessary if handled by the authentication:
[code]

Here's the response - I've annotated where each value is:
[code]

@kazlauskis have you previously used Elasticsearch from any of the apps? If so should we re-us

[2021-03-16 09:54] kazlauskis commented on #18
I haven't used Indicia ES for the apps yet. Unfortunately, the butterflies app will be linked to the old iRecord site which doesn't use JWT yet so some sort of proxy endpoint would have to be used for this.

[2021-03-16 11:29] johnvanbreda commented on #18
@kazlauskis so if I add an end-point to the master branch of this API will that be the right approach? https://github.com/Indicia-Team/drupal-7-module-indicia-api

[2021-03-16 11:37] kazlauskis commented on #18
It depends on how generic you are planning to set this up. If this is something for all apps then, yes, it would be a good place to put it. It already has a `report` endpoint for old-type reporting, so maybe something could fit next to it. If this is something for the butterflies app only then maybe creating a new branch for the app would be better.

[2021-03-18 12:25] johnvanbreda commented on #18
@kazlauskis see https://github.com/BiologicalRecordsCentre/irecord-extras/issues/10 for information on the end-point, which integrates the new recorder metrics.

[2021-03-18 13:37] kazlauskis commented on #18
Cool, it takes 300ms to get the report, I like it.

[2021-03-18 14:07] johnvanbreda commented on #18
@kazlauskis There are 3 Elasticsearch requests:
1. Fetch the list of all species in the survey dataset, ordered by number of records.
2. Various aggregations for the user's data, e.g. first record, last record date, their list of species with number of records, their record and species counts.
3. A count of all records they've contributed to iRecord.

Request 1 can be a bit slow - over a second, s

[2021-03-18 14:57] RichardFoxBC opened #20 "Species list section headings"
There was an action on me to suggest some wording for these.

When GPS location is available within the app for use with list filtering I suggest the following three section headings:
"Flying now in your area"
"In your area at other times of year"
"Species not known from your area"

For the (hopefully rare) instances when the app does not have any spatial location info to sort the list and the spe

[2021-03-18 14:58] RichardFoxBC opened #21 "Size filter wording"
In the size filter, please replace L, M and S with Large, Medium and Small

[2021-03-18 15:02] RichardFoxBC opened #22 "Stage"
Couple of comments on the "Stage" part of the recording process.

First I think we should have "Adult" as a default option rather than "not recorded" - I'd drop "not recorded" from the app completely if everyone else agrees

Second, and this is a bit picky, can we find a better icon for this field. I don't think the caterpillar that is currently being used is instantly recognisable as a caterpilla

[2021-03-18 15:19] RichardFoxBC opened #23 "Error message in My Surveys"
I also have to report that I see to have accidentally driven my test app into a dead end. I get the attached error message on the My Surveys screen which I can't seem to get out of - I can't display either the pending or uploaded records.

![IMG_6659](https://user-images.githubusercontent.com/36193573/111650502-450eb700-87fd-11eb-811a-793b17809054.PNG)

[2021-03-18 15:30] kazlauskis commented on #23
Good testing! 😄 Thanks, I will have a look at it.

[2021-03-18 15:33] kazlauskis commented on #22
I agree about the icon, I wasn't sure what best represents the stage. I will play around with this and see if I can get something better.

I'm happy to default records to 'Adult'.

[2021-03-18 16:07] RichardFoxBC commented on #17
Under the main list for input into the app, I'm not sure that we need Katie. I don't think she was really involved much in the development of this new app. We should add Anthony McCluskey to this list.

Andrew Cooper and Anthony McCluskey were responsible for the cut-outs so it would be nice to acknowledge that.

Additional photographers that need to be added to the photographers list are:
Adam Go

[2021-03-18 16:09] RichardFoxBC commented on #22
I think a caterpillar is probably the best thing to have as an icon - I don't think there is space for a full life cycle, but I do think we need a caterpillar that is clearly a caterpillar

[2021-03-18 16:10] RichardFoxBC commented on #23
Happy to oblige! I'm stuck now - guess I'll have to delete and reinstall the app?

[2021-03-18 16:17] RichardFoxBC opened #24 "Photo submission"
I thought that I had successfully attached and submitted a photo with one of my records using the app yesterday. However, when I look at the record on the iRecord website there is no sign of the photo.

[2021-03-19 09:26] kazlauskis commented on #23
I've fixed this now. The issue has occurred when a record was deleted before the GPS lock was acquired. No need to delete the app, the next app update will fix it for you - reopen the ticket in case you still have this issue.

[2021-03-19 09:26] #23 closed

[2021-03-19 09:30] #20 closed

[2021-03-19 10:02] #21 closed

[2021-03-19 10:04] kazlauskis commented on #22
@DavidRoy are you also OK defaulting the species to adults?

[2021-03-19 10:12] DavidRoy commented on #22
Of course, Richard is the boss :-)

[2021-03-19 10:13] kazlauskis commented on #22
Cool, just thought I should double-check.

[2021-03-19 11:39] DavidRoy commented on #24
Photos lacking from my submissions too. e.g. https://www.brc.ac.uk/irecord/edit-generic-record?occurrence_id=20069041

[2021-03-19 11:42] DavidRoy opened #25 "Do we need to capture data source?"
The current app captures the device used to submit records, e.g. iOS, android, website

The new version does not submit to this attribute

[2021-03-19 11:47] kazlauskis commented on #18
@johnvanbreda I am getting CORS errors. Can you add these headers to both OPTIONS and GET responses please?

<img width="566" alt="Screenshot 2021-03-19 at 11 44 12" src="https://user-images.githubusercontent.com/7383162/111775487-bc4d5500-88a8-11eb-8f72-29b838be02b1.png">

[2021-03-19 13:02] RichardFoxBC commented on #25
Interesting one. I don't think I've ever used this information for anything, but not sure if UKCEH have? I guess if it is easy to implement then why not include it?

[2021-03-19 13:21] kazlauskis commented on #24
The photos were attached to the sample instead of occurrence - I've fixed this now.

[2021-03-19 13:21] #24 closed

[2021-03-19 13:50] johnvanbreda commented on #18
That's done now @kazlauskis

[2021-03-19 13:56] #22 closed

[2021-03-19 14:05] kazlauskis commented on #18
@johnvanbreda Thanks, I am getting the new headers now. The requests still fails with 401, the reason is that preflight OPTIONS request by the browser will not include any custom headers. Can you also make it that the OPTIONS request didn't check for Authorization and X-API-Key headers?

[2021-03-19 14:21] johnvanbreda commented on #18
Hopefully that's done - I don't have a quick way of testing, but an OPTIONS request just skips all the code now.

[2021-03-19 14:24] #19 closed

[2021-03-19 15:05] DavidRoy commented on #25
Rarely used but worth capturing to confirm we prioritise android and iOS equally.
@kazlauskis is this ok for you to include.

Current breakdown.
273	144	2398	"iOS"	"189709"
273	144	2399	"android"	"146605"
273	144	2396	"website"	"13"

[2021-03-19 17:14] DavidRoy commented on #17
@kazlauskis re-opening as I remembered we need to acknowledge Peter Eeles more fully.  Please add the following.

"We are extremely grateful to Peter Eeles who has generously shared images of immature stages of butterflies for use within this application.  To learn more about butterfly life-cycles please visit https://www.butterflylifecycles.com or refer to Peter's book: Eeles, P. (2019) _Life Cyc

[2021-03-20 11:23] kazlauskis opened #26 "Uploaded species list survey should point to an iRecord record details page"
For a single species record, there is a dedicated page available that allows viewing a record without the user having to log in.
Example: https://www.brc.ac.uk/irecord/record-details?occurrence_id=20073090

At the moment, in the app we point multi-occurrence records to an **editing** form: https://www.brc.ac.uk/irecord/enter-record-list?sample_id=ID

@johnvanbreda Is there a page on the iRecord si

[2021-03-20 11:56] kazlauskis commented on #25
That's done now.

Like we do in some other apps, I have also added the app-version (`smpAttr=1139`) to samples. It should help identify records coming from different app releases which may submit data differently.

[2021-03-20 11:56] #25 closed

[2021-03-20 15:18] johnvanbreda commented on #26
No, though it would not be hard to setup. @DavidRoy please advise on how this fits in with other priorities?

[2021-03-20 15:20] DavidRoy commented on #26
@johnvanbreda please go ahead as a high priority for the app that is close to release.  A general sample-details view would also be worth considering

[2021-03-20 15:30] johnvanbreda commented on #26
@DavidRoy Ok - please can you let me know roughly what you'd expect to see on this page? Is it just a filtered records grid, or does it need a map as well? Same default columns as the Explore page or something different?

If we provide this for the app, it can easily be multi-purpose.

[2021-03-20 15:44] DavidRoy commented on #26
@johnvanbreda how about a filtered records grid with a map?  Similar to the explore page but with the relevant sample attributes?

[2021-03-20 15:59] kazlauskis commented on #26
This is going to be a single sample with multiple occurrences so the map should be similar to the one used on the `record-details` page.

[2021-03-22 10:10] RichardFoxBC commented on #18
Should the statistics be working now? My test version of the app was not returning any of the stats relating to test (and real) records that I've submitted so far in 2021

[2021-03-22 10:12] kazlauskis commented on #18
No, the stats are hardcoded at the moment. You should be able to see it working with the next app update.

[2021-03-22 10:29] RichardFoxBC commented on #17
Please add (Butterfly Conservation) after Anthony's name.

Also please add the following text below the text re Peter Eeles:
"We are also extremely grateful to Chris Manley who prepared the species distribution maps used in this app. His book British and Irish Moths. A Photographic Guide (third edition) by Bloomsbury provides a great identification guide to moths."

[2021-03-22 11:10] #18 closed

[2021-03-22 11:16] #17 closed

[2021-03-22 13:51] johnvanbreda commented on #26
Ok, here's an example of the new page - is this OK? https://www.brc.ac.uk/irecord/sample-details?sample_id=13983489

[2021-03-22 14:27] kazlauskis commented on #26
Thanks! Looks very good, do you think it is possible to open this up to non-authenticated users like the `record-details` allows?

[2021-03-22 15:04] johnvanbreda commented on #26
That's done.

[2021-03-22 15:11] kazlauskis commented on #26
Cheers 👍

[2021-03-22 15:11] #26 closed

[2021-03-31 14:24] RichardFoxBC opened #27 "Cut out sizing"
I realise that we don't have much time for subtle changes at this stage, but there are a couple of the cut-out images that I really think need a small change now. These are:
1. Ringlet - the top of the butterfly's wings is actually off the top of the tile. Just needs to be reduce a little in size.
2. Small Skipper - this is simply too big. It strikes me every time I see the cut-out in the app - pl

[2021-03-31 14:27] RichardFoxBC opened #28 "Upload all option"
It would be good to have an Upload all option on the My Surveys page, in case users have lots to upload

[2021-03-31 14:28] RichardFoxBC opened #29 "My Surveys"
Just a thought - should the My Surveys page actually be called My Records ?

[2021-03-31 14:33] RichardFoxBC opened #30 "Text on Statistics page"
Should "Survey totals" be "App totals"? Not sure that the users will understand what is meant by "Survey" here.

Also the text box re future improvements. I suggest we change this to: We will be adding more functionality to this page soon

[2021-03-31 14:36] RichardFoxBC opened #31 "Filter confusion"
Perhaps its just me, but when I start typing into the search box I'd be expecting to filter on species. So when I type in "brown" I am surprised and confused that what comes up on the screen is stuff about the brown colour filter and the browns group filter - I can see the species that I want to get to (with "brown" in their name) behind all this stuff but don't find it intuitive to get to them

[2021-03-31 14:38] RichardFoxBC opened #32 "Text overrun in gallery captions"
Where there is a long caption for an image in the species gallery the text just stops rather than wrapping onto another line. E.g. Large Tortoiseshell vs Small Tortoiseshell comparison. This not only looks a bit like an error, but the user is actually missing important info about which species is which

[2021-03-31 15:36] RichardFoxBC opened #33 "UK Status"
I'm going to redo the text for all species in the "UK Status" field. This is in part to reflect BC's new conservation priorities and/or threat levels. However, I also feel that the inclusion of "restricted distribution" or "widespread" in this text for each species isn't very helpful to the user (especially when there is a map just below) and isn't really about the species' UK status. Everyone hap

[2021-03-31 15:37] DavidRoy commented on #33
yes, happy to leave the guide completely in your capable hands

[2021-03-31 15:48] RichardFoxBC opened #34 "Testing"
Beta invitation links:

- For **Apple** devices (iPhones, iPads): https://testflight.apple.com/join/NMGzVoUs
- For **Android** devices: https://play.google.com/apps/testing/com.natural_apptitude.butterfly

[2021-03-31 15:49] RichardFoxBC opened #35 "Where to look page"
Personally, I think that the "Where to look page" is a waste of time and I'd be happy to drop it. Any thoughts?

[2021-03-31 16:02] DavidRoy commented on #34
Still hunting for the android certificate.  I'll chase again!

[2021-03-31 19:25] kazlauskis commented on #34
@RichardFoxBC this is the link for iOS Beta testing: https://testflight.apple.com/join/NMGzVoUs

[2021-03-31 19:34] #35 closed

[2021-03-31 19:37] #30 closed

[2021-03-31 22:06] #27 closed

[2021-03-31 22:06] #32 closed

[2021-03-31 22:16] kazlauskis commented on #31
Thanks, that's a good point. When searching for a species, after you have finished typing the name tap on the blue `Done` button on your keyboard and this will then close the search and show the species matching your text. I will also make the smaller 'Done' in the top header behave the same, at the moment, that only closes the search. Does this make sense?

![IMG_F8E58D839F92-1](https://user-imag

[2021-04-01 07:50] #31 closed

[2021-04-01 14:46] RichardFoxBC commented on #34
Is that iOS testing link specific to a particular version of the new app or just to whatever the latest version is that you've pushed?

[2021-04-01 14:47] RichardFoxBC commented on #33
OK I've finished my edits now. I'll leave the issue open for now, Karolis you can close it when the changes have been implemented in the app

[2021-04-01 15:09] RichardFoxBC commented on #15
OK, I've no experience of writing these onboarding screens and have forgotten all the useful things we've previously said should appear on them, but here goes.

First screen:

iRecord Butterflies slogan near the top of the screen, image of Peacock, text; Identify butterflies that you see
![Peacock (Neil Hulme)](https://user-images.githubusercontent.com/36193573/113314748-87a7b780-9304-11eb-9b0f-7c

[2021-04-01 15:12] RichardFoxBC commented on #15
Onboarding screen 2:

iRecord Butterflies slogan in same place as on screen 1, image Brimstone (whichever of the two attached possibilities works best with the screen size and text placing, text: Submit your sightings
![Brimstone-_5D32658](https://user-images.githubusercontent.com/36193573/113315162-e8cf8b00-9304-11eb-950a-4efd79f6881d.jpg)
![Brimstone-_5D32718](https://user-images.githubuserconte

[2021-04-01 15:26] RichardFoxBC commented on #15
Screen 3:

iRecord Butterflies slogan in same place as on screens 1 & 2, image Marsh Fritillary, text: Help protect butterflies and the environment
![Marsh Fritillary (Iain Leach)2](https://user-images.githubusercontent.com/36193573/113317032-dfdfb900-9306-11eb-9c50-17579570c035.jpg)

[2021-04-01 15:29] RichardFoxBC commented on #15
No additional photographer credits needed - they are all listed already

[2021-04-01 15:32] RichardFoxBC commented on #15
Do we need an onboarding screen that explains about the short tap / long tap option on the Record button? Or is there already a pop-up message that covers that?

[2021-04-01 15:33] RichardFoxBC commented on #15
Do you think we need an onboarding screen to explain the need to create an iRecord account?

[2021-04-01 15:38] kazlauskis commented on #34
Correct, that always points to the last version.

[2021-04-01 15:46] RichardFoxBC opened #36 "Records with only Lat/long"
Please amend the text warning when a record only has a lat/long location to read:

Your location is not in the UK, Republic of Ireland, Isle of Man or Channel Islands. Please tap on Location to change if necessary.

Also because this warning message is not very big on screen, I wonder if we need a second line of defence? Would it be possible to have a warning on it on the My Records screen somehow

[2021-04-01 15:48] kazlauskis commented on #15
Thanks, I think, the long/short tap popup covers that. For more ideas, you could also add to these texts something about: probability data, lots of search filters, multiple surveys, works offline, rich species guide, expert verification... kind of, how amazing our app is! 😄

[2021-04-01 15:50] RichardFoxBC opened #37 "Stage - order of options"
Would seem more logical to have the following order of stages for recording:

Adult
Egg
Larva
Larval web
Pupa

Note that it should be "Pupa" not "Pupae" as it is currently in the app

[2021-04-01 16:04] RichardFoxBC commented on #15
I'm not sure if we want all that sort of stuff in the onboarding screens. That's the sort of stuff that should appear in the app store alongside the app isn't it? Once they've got as far as installing the app, do we need to sell it to them?

[2021-04-01 16:09] RichardFoxBC commented on #15
I do like the idea of highlighting the probability filters though. So could we have a new screen 2 that uses a screen shot of with the "What's flying in your area" banner and some colourful species below. Text below this could read: To help with identification, species are shown according to what is most likely to be seen in your area at this time of year.

[2021-04-01 16:32] RichardFoxBC commented on #3
Just reaquainting myself with the iRecord T&Cs.

David - what downsides for BC can you see from us just going with the simplest option of linking to the iRecord terms of use etc?
1) I guess that BC would not be able to repatriate to County Recorders the email addresses of recorders using the app? Of course, if a County Recorder engages properly with iRecord as a verifyer then this isn't an issue,

[2021-04-01 16:53] kazlauskis commented on #15
I agree, no need to sell it but useful to bring out the features that could be otherwise missed. I like your idea of the probability screen. Here is another example of screens used in Collins Bird guide app which has very similar filter searching functionality to ours.

![IMG_1105](https://user-images.githubusercontent.com/7383162/113327356-c47aab00-9312-11eb-98b9-d7e4758742fe.PNG)
![IMG_1104](htt

[2021-04-01 17:20] #37 closed

[2021-04-01 17:36] kazlauskis commented on #36
Done this now.
<img width="326" alt="Screenshot 2021-04-01 at 18 34 36" src="https://user-images.githubusercontent.com/7383162/113332437-14f50700-9319-11eb-9b3a-901b9543ea66.png">
<img width="328" alt="Screenshot 2021-04-01 at 18 34 40" src="https://user-images.githubusercontent.com/7383162/113332442-16263400-9319-11eb-9430-ce1d36a21169.png">

[2021-04-01 17:36] #36 closed

[2021-04-01 19:37] #33 closed

[2021-04-01 20:44] kazlauskis opened #38 "App store screenshots"
@RichardFoxBC do these screenshots and titles look OK to you?
![Simulator Screen Shot - iPhone 8 Plus - 2021-03-25 at 11 17 57_record_framed](https://user-images.githubusercontent.com/7383162/113351813-4d094380-9333-11eb-9861-8438efd888a9.png)
![Simulator Screen Shot - iPhone 8 Plus - 2021-03-25 at 11 19 18_survey_framed](https://user-images.githubusercontent.com/7383162/113351820-4ed30700-9333-11

[2021-04-04 08:51] RichardFoxBC opened #39 "Check stats reporting"
Please can you check the stats reporting - the app stats page is saying that I've seen 8 species in 2021, but I think I've only seen 7. Is it accidentally including a non-butterfly species record?

[2021-04-04 08:53] RichardFoxBC opened #40 "Stats refresh"
Do the statistics page not refresh automatically? If not, I think it should.

Having the refresh button on the page is good, but I think users would expect it to update automatically from time to time, at least each time you reopen the app.

[2021-04-04 08:57] RichardFoxBC opened #41 "Pop up on map page re finding own location"
Could we have a pop up tip message on the map page please for the first time that someone uses it please? This should point to the button in top right corner of the map and say something like "Tapping this button will centre the map on your current location. This may take a little time."

You should be able to then hide the pop-up if you wish to so that it doesn't appear every time.

[2021-04-04 09:11] RichardFoxBC commented on #38
Hi Karolis, these look great, many thanks. My only suggestions are re the final one - perhaps change the title to "Adult and life cycle photos" and  use a larval image to make the point clearly? One that has a portrait orientation image e.g. Comma or Dark Green Fritillary would be good

[2021-04-04 09:13] RichardFoxBC opened #42 "App rating pop-up"
How often does the pop-up asking people to rate the app appear? I do find such things annoying when I am using an app, so I wouldn't want it to appear too often.

[2021-04-04 09:21] RichardFoxBC opened #43 "Map remembering location"
When I am testing by creating lots of dummy records but not uploading them, I find that the map has to refind my location from scratch for each consecutive record in the same session. It is quite time consuming waiting for it each time and I would expect it to remember where I am from one record to the next in the same session. Is this because I've not uploaded the records? Would it remember my lo

[2021-04-05 10:54] kazlauskis commented on #43
This depends on the device. In general, once you have had your first GPS lock then this should be under 30s to get new locations for subsequent records. We can add some location caching but it is hard to know what is a 'session', if we base it on time then the user can travel a long distance within 2 mins of the app use (if on a bike or running or whatever). For me, acquiring fresh new locations i

[2021-04-05 10:56] kazlauskis commented on #40
It doesn't yet and I agree this should be improved. In general, we should spend some more time redesigning the stats page.

[2021-04-05 10:57] #38 closed

[2021-04-05 10:59] kazlauskis commented on #39
@johnvanbreda could you please have a look at this?

[2021-04-05 11:02] kazlauskis commented on #41
Thanks, I wonder if it is not better to improve the interface to make it clearer what the button does instead. Which one of these icons resembles GPS/current-location to you the most?

**Generic:**
<img width="98" alt="Screenshot 2021-04-05 at 11 59 45" src="https://user-images.githubusercontent.com/7383162/113567473-98a74000-9606-11eb-8fa8-8f24367b2db4.png">

**iOS:**
<img width="120" alt="Screen

[2021-04-05 11:19] RichardFoxBC commented on #39
As far as I am aware I have currently recorded 9 butterfly species in 2021 but the app statistics page is showing 11

[2021-04-05 11:24] RichardFoxBC commented on #41
I'd probably go with the Android option of the three above (despite being an iOS user), but I still think that a pop-up message (that can be dismissed so it doesn't reappear) would be a good idea too

[2021-04-05 11:30] RichardFoxBC commented on #43
OK lets leave it as it is for now. But, I think this makes it even more important that people get into the habit of clicking the location icon (whichever one we decide on) when they are on the map page to make sure their new sighting is at their current location not at a previous one. So, even more important that we have a pop-up message explaining the icon and suggesting that people click on it t

[2021-04-05 11:48] kazlauskis commented on #43
The user shouldn't require to tap the GPS button, the GPS is run every time a new record is created. Since we don't cache the location it should be fresh for each record.

[2021-04-05 13:11] johnvanbreda commented on #39
@kazlauskis I think this problem is because the app is submitting records both against the UKSI list and the EBMS list. For example, record 20169080 of Gonepteryx rhamni uses the UKSI version of this taxon, record 20138043 uses the UKBMS version of the taxon. As resolving taxa on names doesn't really work, we use the number of different accepted name keys from the terms to resolve the number of sp

[2021-04-05 13:38] kazlauskis commented on #39
Thanks, we have initially used the EBMS ids and @DavidRoy has changed it to a different one (UKSI?) a few weeks ago. Does this mean that as long as we keep it UKSI-only then this shouldn't be an issue? If so then please close the ticket.

[2021-04-08 10:59] johnvanbreda commented on #39
@kazlauskis that's correct, for data going forward. Not sure if I should close this since the data Richard entered earlier than the switchover point will be wrong.

[2021-04-08 12:20] kazlauskis commented on #39
I think this affects only Richard and it is only 2 (?) records. Shall we reassign the taxa in those records? Do you know which occurrences are these? I could probably use some iRecord form to reattach these to the UKSI species.

[2021-04-08 12:26] DavidRoy commented on #39
It also affects 1-2 of my records?

[2021-04-08 14:51] RichardFoxBC commented on #39
Happy for you to reassign the species ID of my records that are affected. Or, if you can tell me which they are, I can make a note of the details and then reenter them after you've made any necessary changes. Either way we need to get this sorted out before other people start to test the app.

[2021-04-09 09:56] johnvanbreda commented on #39
I've corrected the records to use UKSI. It will take an hour or so to be reflected in the reports.

[2021-04-09 10:04] kazlauskis commented on #39
@RichardFoxBC please close this ticket once you have checked that the stats are correct in the app.

[2021-04-22 15:42] RichardFoxBC opened #44 "Checking probability scores and setting an appropriate threshold"
Some of the species appearing in the "Flying now in your area" list are inappropriate and could lead to increased incorrect IDs by inexperienced users and a loss of faith in the product by experienced butterfly recorders. I think we first need to check that the rules are being correctly implemented in the app. As explained by email, I cannot see how Small Skipper appeared in my list last week and

[2021-04-22 15:43] #39 closed

[2021-04-22 16:03] kazlauskis commented on #44
@RichardFoxBC I agree, we should introduce some cutoff threshold for low probability species. Let me know what you want the threshold to be. It would be useful if you could attach some screenshots of the old and new app species lists in case you find there are any inconsistencies.

[2021-04-23 08:56] DavidRoy commented on #44
@RichardFoxBC The regions for the flight periods are by country (England, Wales, Scotland, Northern Ireland).  I think the issue is that we are not applying the cutoff as in the previous app.  In week 16 in England, Small skipper has a flight period probability of 0.0000761797.

@kazlauskis can you see the cut-offs used in the old app?  Are they applied to the final likelihood score and/or the sep

[2021-04-23 09:00] RichardFoxBC commented on #44
Ha! And there was me thinking that E, W, N, S must have been east, west, north, south. I'd never realised that the UK countries were the same as the compass point before!

[2021-04-23 09:09] kazlauskis commented on #44
@DavidRoy as far as I can tell from the old app, the cut-off threshold that was used is `0.001` and it was applied to the final calculated likelihood (i.e. "here and now" list).

[2021-04-23 09:11] DavidRoy commented on #44
@RichardFoxBC it caught me out too!
@kazlauskis that cut-off matches my testing of the lists on the old vs new app

@RichardFoxBC shall we agree to reinstate the cut-off of 0.001?

[2021-04-23 09:32] RichardFoxBC commented on #44
Yes let's reinstate the cut-off and see what impact that has during testing

[2021-04-23 10:20] kazlauskis commented on #44
I've added the threshold now. Any species from "here and now" with probabilities below `0.001` will be pushed to the "here other times of year" list. The Beta update should be ready for sometime today.

[2021-04-23 10:20] #44 closed

[2021-04-23 10:33] DavidRoy commented on #3
To confirm.  The existing iRecord privacy/t&cs allow #1 and #2.  Therefore the extra complexity of #3 is not needed.
@RichardFoxBC please close if you are ok with this

[2021-04-23 12:07] DavidRoy commented on #28
@kazlauskis is this planned for the first live version?

[2021-04-23 12:08] DavidRoy commented on #42
@kazlauskis please advice on any plans on this for version 1.
@RichardFoxBC Maybe a one-time 'ratings' pop-up after 5 records have been submitted?

[2021-04-23 12:09] DavidRoy commented on #43
Can this issue be closed or do we need to review options for this, for the next version?

[2021-04-23 12:10] DavidRoy commented on #34
@kazlauskis can you add the link for android testing to this issue?

[2021-04-23 12:14] kazlauskis commented on #28
It depends on when you want the first live version released, I could add this sometime next month.

[2021-04-23 12:15] DavidRoy opened #45 "Include map of records report within the app"
Show a gridded user occurrence map like in the iRecord website's [my-records](https://irecord.org.uk/my-records) page.

Query for new data on map move:
**Method**: POST
**URL**: https://warehouse1.indicia.org.uk/index.php/services/rest/es-occurrences/_search
**BODY**:
[code]

[2021-04-23 12:16] kazlauskis commented on #42
It appears only once and only after the user has already had 10 sessions with the app.

[2021-04-23 12:18] DavidRoy commented on #42
@RichardFoxBC This seems a good approach.  Close this issue if you agree

[2021-04-23 12:19] kazlauskis commented on #34
Done, I've added the links to the ticket description.

[2021-04-23 12:22] #42 closed

[2021-04-26 10:27] RichardFoxBC commented on #41
We didn't talk about this during the meeting this morning and no-one else has responded to Karolis' icon options. I still think this pop up message would be a good idea, ideally for the first release of the app

[2021-04-26 10:27] #43 closed

[2021-04-26 10:29] RichardFoxBC opened #46 "Change wording of 3rd list of species"
Please change wording from "Species not known from your area" to "Species not recorded from your area"

[2021-04-26 10:31] RichardFoxBC opened #47 "Reorder species in 2nd list"
The ordering of species in the "In your area at other times of year" should be alphabetical not based on probability

[2021-04-26 15:13] DavidRoy commented on #41
I agree on the 'android' icon and ideally a 'first-time' pop-up message.

[2021-04-26 15:15] DavidRoy commented on #1
We have discussed this requirement and would like to avoid saving of locations as it may lead to the use of site centroids.  We'd rather benefit from the use the GPS functionality.  The app will include auto-complete of previously-entered site locations.

Closing this issue for now, but wider testing may raise new or similar issues

[2021-04-26 15:15] #1 closed

[2021-04-26 15:31] RichardFoxBC opened #48 "New text for About page"
Please add this new paragraph of text after the first paragraph:

If you have shared your location with the app, species are listed in order of likelihood.  This is to help speed up recording and to assist with identification. Likelihood is based on a combination of previous records from your area (specifically the 10km x 10km map square) held in the UK butterfly database, as well as data on the n

[2021-04-28 08:46] RichardFoxBC commented on #28
I've already had feedback from one tester wanting an Upload all button!

[2021-04-28 09:17] RichardFoxBC opened #49 "Prevent use of Return key in the comments field"
The presence of Return and other non-printing characters in the comments fields of records is a major problem for County Recorders and for BC. If it is at all possible, please can the Comment field of records be engineered so that the Return key is disabled?

[2021-04-28 10:16] RichardFoxBC commented on #41
As if to prove the need for this popup, I had this message just now from a tester:
...  My big issue is with the method of recording the location - it didn’t seem to default to using my current location, so for every sighting I was presented with a full UK map and had to zoom in to my little corner of the north of Scotland. After 4 (fictional) sightings in different locations I was bored!  At one

[2021-04-29 13:37] RichardFoxBC opened #50 "Change wording of the Draft warning message"
Please can we change the wording of the warning popup message that appears when you try to start a new record/survey before clicking "Finish" on the last one. The two option buttons "Discard" and "Continue" can stay the same but I suggest changing the text to:

Unfinished record

You have an incomplete record than needs to be saved before starting another one. Would you like to continue it?

[2021-04-29 14:14] RichardFoxBC opened #51 "Future dates"
It should not be possible to select a future date for a record. This needs to be fixed please before we launch the app

[2021-05-06 09:48] kazlauskis commented on #15
@RichardFoxBC I've added the onboarding screens. These could use background photos with more padding around the butterflies though. Are you OK with the following?

<img width="339" alt="Screenshot 2021-05-06 at 10 46 22" src="https://user-images.githubusercontent.com/7383162/117278275-882df380-ae58-11eb-97d7-c2c31b2956d5.png">
<img width="343" alt="Screenshot 2021-05-06 at 10 46 27" src="https://u

[2021-05-06 09:48] #47 closed

[2021-05-06 09:48] #48 closed

[2021-05-06 09:48] #46 closed

[2021-05-06 09:48] #51 closed

[2021-05-06 10:34] kazlauskis commented on #41
I've added this in now.
<img width="338" alt="Screenshot 2021-05-06 at 11 33 05" src="https://user-images.githubusercontent.com/7383162/117284596-ec53b600-ae5e-11eb-9251-3821f0eefe04.png">

[2021-05-06 10:34] #41 closed

[2021-05-06 10:52] RichardFoxBC commented on #15
Hi Karolis,

Yes I see what you mean about the images. I don't think we can use the final one (Marsh Fritillary) and the third one (Brimstone) isn't great either. I'll find some other images and drop them here

[2021-05-06 10:56] RichardFoxBC commented on #15
![Common Blue male (Bob Eade)](https://user-images.githubusercontent.com/36193573/117287187-fe832380-ae61-11eb-8a45-bf040da44e47.jpg)

Would this be any better? If so, please use this on the third screen instead of the Brimstone

[2021-05-06 11:05] RichardFoxBC commented on #50
Sorry Karolis,

I had a typo in my requested new text here - it should be "that" rather than "than"

[2021-05-06 11:23] RichardFoxBC commented on #15
This one any good for the final screen i.e. to replace the Marsh Fritillary image?
![Marsh Fritillary (Bob Eade)](https://user-images.githubusercontent.com/36193573/117290503-c978d000-ae65-11eb-8fe4-8ef960d2757a.jpg)

[2021-05-06 13:57] DavidRoy commented on #28
Include upload all button when more than 5 records to submit?

[2021-05-06 14:38] RichardFoxBC commented on #15
How about this one for the first screen (replacing the Peacock image)?
![Orange-tip (Bob Eade)](https://user-images.githubusercontent.com/36193573/117317131-246bf080-ae81-11eb-8291-a6220f49ed6b.jpg)

[2021-05-06 14:40] RichardFoxBC commented on #15
And might this one work for the final screen (replacing Marsh Fritillary)??
![Pearl-bordered Fritillary 2(Bob Eade)](https://user-images.githubusercontent.com/36193573/117317358-5c733380-ae81-11eb-9c1b-e5ad25f94c52.jpg)

[2021-05-06 14:59] RichardFoxBC commented on #15
For the new onboarding screen, which I think should come between the "Submit and share your sightings" one and the "Your sightings will help protect..." one, I suggest the wording:

You can record a single butterfly or create a list of different species seen.
Tap on the Record button to record a single species or hold the Record button down to start a species list.

[2021-05-06 15:00] #49 closed

[2021-05-06 15:09] RichardFoxBC opened #52 "Change wording of the Record button functionality popup"
In the first sentence change "capture a new record" to "record a single species or sighting"

In the second sentence change change "see more advanced options" to "start a multi-species survey list"

[2021-05-06 15:10] RichardFoxBC commented on #52
David - do feel free to suggest alternative wording if you think my suggestions can be improved!

[2021-05-06 15:13] RichardFoxBC opened #53 "New wording for About page"
Please add a new paragraph after the first paragraph to read:

You can

[2021-05-06 15:16] RichardFoxBC opened #54 "Add "Back" to Location page"
Please add the word "Back" in the top left corner of the location page screen so that it reads "< Back" and is consistent with all the other pages

[2021-05-06 15:18] RichardFoxBC opened #55 "Location box text truncated"
One tester reported that on the location entry page, the text "Site name e.g. nearest village" was truncated on their device to "Site name e.g. nearest villa".

Karolis - please implement the solution you described in our meeting today

[2021-05-06 15:22] RichardFoxBC opened #56 "Replace "List" with location name in My Records"
In both parts of the My Records (the pending and the uploaded lists) please show the location name instead of the word "List" for any species list records.

[2021-05-06 15:28] RichardFoxBC opened #57 "Emphasise Login over Register"
Currently the app asked users who are no logged in to "Create a free account" with a small login option at the bottom of the screen. Please reverse this so that we assume (for now at least) that users are existing account holders and this page asks them to log in. We should specify that they should log in using the same account that they used for the previous version of the iRecord Butterflies app

[2021-05-06 15:38] RichardFoxBC opened #58 "Amend warning messages for new registrations"
If a user tries to create a new account using the same email address as an existing account, currently a red popup appears reading "Sorry Bad request" - this popup then disappears quickly. I suggest that instead the warning should read "There is already an account with this email address, please login" and give a link to login

If user tries to login with incorrect password, the popup reads "Sorry

[2021-05-06 15:40] RichardFoxBC opened #59 "Stopping the location name box cutting spaces"
We didn't talk about this issue at today's meeting and I'm not quite sure how we left it after the last meeting. This is where the app sometimes removes a space that you've put in between words in the location name box. Would be good to fix this as it is a bit annoying and will introduce unnecessary errors into location names.

[2021-05-06 15:57] kazlauskis commented on #59
Thanks, I have fixed this one this morning and I will push the update with the other changes sometime tomorrow.

[2021-05-06 15:57] #59 closed

[2021-05-07 07:59] RichardFoxBC opened #60 "How to delete a record message"
After emails yesterday from a tester who couldn't work out how to delete records from the My Records page, I've done some more testing and think that there is a problem with the information messages. If I reset my copy of the app, when I create a first incomplete record and look in My Records, I see the message "To delete any surveys swipe it to the left". However, if I then complete the record, t

[2021-05-07 08:12] kazlauskis commented on #60
Thanks, I'll make sure the delete tip appears in the Uploaded tab after the user uploads a record.

[2021-05-07 08:21] RichardFoxBC commented on #60
Thanks Karolis. That would be good to have it on the Uploaded tab, but it should remain on the Pending tab too (not disappear as it currently does). Indeed, it is more important on the Pending tab as that is where accidentally created records (e.g. when people have touched the Record button by mistake) will be sitting.

[2021-05-07 10:44] RichardFoxBC opened #61 "Create help pages"
Would it be possible to have an option in settings to enable a user to undo all of the "Hide" / "Got it" actions that they might have clicked, without having to reset the app and lose all the locally-stored data? This is not essential for the first release, but might be a nice addition in the future (if it is technically possible)

[2021-05-07 11:21] RichardFoxBC opened #62 "Text for App Stores"
I'm looking at the iOS app store and suggest the following text for the various sections as follows. Please suggest changes as necessary:

What's New
* App has been completed redeveloped with a new look, improved performance and stability, fixed bugs and additional functionality. Butterfly eggs, caterpillars and pupae can now be recorded and are included in the photo galleries.
* Please note that

[2021-05-07 11:31] #60 closed

[2021-05-07 11:31] #56 closed

[2021-05-07 11:37] kazlauskis commented on #55
I find it hard to reproduce this issue. The location name placeholder is truncated correctly with ellipses on small devices. Would it be possible for this person to send us a screenshot of the page? Or at least confirm that the ellipses are missing from the placeholder.

<img width="304" alt="Screenshot 2021-05-07 at 12 35 14" src="https://user-images.githubusercontent.com/7383162/117444056-d57d94

[2021-05-07 11:38] #54 closed

[2021-05-07 12:20] kazlauskis commented on #15
@RichardFoxBC Would a page like this be OK?

<img width="337" alt="Screenshot 2021-05-07 at 13 20 08" src="https://user-images.githubusercontent.com/7383162/117448736-02cd4080-af37-11eb-88ee-fb48be178e06.png">

[2021-05-07 12:34] kazlauskis commented on #15
@RichardFoxBC Here is the new set of screens. Please close the ticket if these are OK.

<img width="338" alt="Screenshot 2021-05-07 at 13 30 22" src="https://user-images.githubusercontent.com/7383162/117450119-bdaa0e00-af38-11eb-8f3c-c3f6c495ea20.png">
<img width="334" alt="Screenshot 2021-05-07 at 13 30 27" src="https://user-images.githubusercontent.com/7383162/117450130-c00c6800-af38-11eb-813e-2

[2021-05-07 12:35] #28 closed

[2021-05-07 12:35] #52 closed

[2021-05-07 13:22] RichardFoxBC commented on #15
Happy with all of these except the Common Blue "Submit and share..." one.  The image is just too tightly cropped. Would this image work any better?
![Common Blue (Mark Searle)](https://user-images.githubusercontent.com/36193573/117456030-a91d4400-af3f-11eb-9c08-a3a73fe1f81b.jpg)

[2021-05-07 13:39] RichardFoxBC commented on #55
I'm not too worried about whether the ellipses are there or not. The problem is that if there is no way of reading the missing text, it doesn't make sense as "nearest villa..." So what (if anything) can we do? Can we move the text to the left a bit i.e. reduce the space between the icon and "Site"? Or could we put "e.g. nearest village in smaller size type than "Site name" to make it fit?

[2021-05-07 15:01] kazlauskis commented on #55
Is there some shorter text we could think for this?

[2021-05-07 15:09] RichardFoxBC commented on #55
Not really. I had tried to think of alternatives when I replied earlier. Only thing I can think of is to replace "nearest" with "nearby" but it only saves 1 character. We could drop the full stops from "e.g." so that it is just shown as "eg"?

[2021-05-07 15:12] kazlauskis commented on #15
Excellent, this last one fitted without any cropping. This is done now.

[2021-05-07 15:12] #15 closed

[2021-05-07 15:12] #50 closed

[2021-05-07 15:13] #58 closed

[2021-05-07 15:24] RichardFoxBC commented on #55
I'd rather have village. Many records will be a long way from a town and this instruction would lead to incorrect and unhelpful site names. Will it not fit if we have "Site name eg nearby village"

[2021-05-07 15:27] kazlauskis commented on #55
OK, I've done that now.

[2021-05-07 15:27] #55 closed

[2021-05-07 15:43] kazlauskis opened #63 "Update Play Store feature graphics"
The old graphics represent the old app so it would be good to get something up to date instead.

<img width="684" alt="Screenshot 2021-05-07 at 16 31 41" src="https://user-images.githubusercontent.com/7383162/117474811-3c13a980-af53-11eb-8f9f-9be608d96676.png">

[2021-05-07 15:45] #62 closed

[2021-05-07 15:56] RichardFoxBC commented on #63
The iOS app store only has screen shots of the app, and I was assuming, Karolis, that you would be able to submit some new screenshots to replace those.

I see that you've already done that on the Google Play store, as well as updating the text. Many thanks!

I don't have the skills to create a new graphic like the one you've shown above, so I guess for now we just need to make sure this old style

[2021-05-07 16:03] kazlauskis commented on #63
Yes, the new screenshots will appear in both app stores. Play Store won't let us publish the app without the feature graphic so I will replace it with some very basic placeholder for now then. We can reopen the ticket in case we want to design something better.

[2021-05-07 16:03] #63 closed

[2021-05-08 12:01] RichardFoxBC opened #64 "Bug!"
Hi Karolis, afraid I've found a bug in the new release (63). From a brand new install on iPhone 8, I did the following:

1. Give permission to access location while using app
2. Go through the onboarding screens
3. Click OK to the Adding Observations popup
4. Long tap the Record button and select Species list
5. When species list screen opens, click Back without entering anything
6. Short tap the

[2021-05-08 13:49] kazlauskis commented on #64
Yes! I can reproduce this, thanks for the details, I will fix it asap.

[2021-05-08 17:27] kazlauskis commented on #64
I have fixed this one and the app update should reach you shortly.

[2021-05-08 17:27] #64 closed

[2021-05-10 08:07] RichardFoxBC opened #65 "Bug! App freezes if use bracket in location name field"
Hi Karolis, a tester reported this morning that the current beta (64) froze (blank screen and needed to exit app) if they tried to put a bracket into a site name. This was on an Android phone, but I've just replicated it on my iOS phone. Same issue exists for square brackets [ and ], and also \

[2021-05-10 08:24] kazlauskis commented on #65
Thanks, I'll look into this now.

[2021-05-10 08:57] RichardFoxBC opened #66 "Geolocate popup on Species List location page"
Not necessary for first release, but shouldn't the geolocate information popup appear on the location page of the Species List option as well as on the Single Species option?

[2021-05-10 08:57] kazlauskis commented on #65
I've fixed this now and pushing a new next app update.

[2021-05-10 08:57] #65 closed

[2021-05-10 09:01] RichardFoxBC opened #67 "Ability to record different life cycle stages of same species in same Species List"
Can we discuss the possibility of enabling the user to record more than one life cycle stage of the same species, with appropriate numbers, in the same Species List

[2021-05-10 10:04] RichardFoxBC opened #68 "Onboarding screen zoom/freeze"
Not essential (in my opinion) for the first release, but I find that if I press the on arrow repeatedly and to go quickly through the onboarding screens, my iOS device zooms in on the screen. This is sometimes rectified by pressing the arrow again and the next onboarding screen is then back to the normal aspect, but other times the app just freezes on the zoomed in screen and the only way out is t

[2021-05-13 12:45] DavidRoy opened #69 "Update likelihood filters within app"
Using latest BNM dataset

Replace 'old' versions in the app

Small task for KK

[2021-05-13 12:45] RichardFoxBC opened #70 "Update likelihood values for spatial data using refreshed BNM data"

[2021-05-13 12:46] #70 closed

[2021-05-13 12:46] #68 closed

[2021-05-13 12:54] DavidRoy commented on #67
Need to consider how to store the data in the database.  Two options:
1. occurrence attributes for egg, larva, adult counts
2. separate occurrences for each life stage,
e.g. species x, life-stage = egg, count=1
      species x, life-stage= adult, count = 1

[2021-05-13 12:59] DavidRoy commented on #40
Auto-refresh every time and pull-down refresh

[2021-05-13 12:59] #34 closed

[2021-05-13 13:04] DavidRoy commented on #7
have been offered a free service.  Consider in the wider context of iRecord apps

Need to understand requirements better before giving this higher priority.

Would clutter the interface?

[2021-05-13 13:05] DavidRoy opened #71 "Enhanced statistics page"
priority 1 - expanding current page
Species list for current year and total.  Click on statistic (e.g. species recorded 2021 or total) to show list of species
Expand to number of records per species and/or number of individuals
Year selector for statistics
Position in league tables (current year as the priority) for records and species

[Database call with parameter of year and user]
Look at optio

[2021-05-13 13:07] #3 closed

[2021-05-13 13:11] DavidRoy commented on #5
@RichardFoxBC to discuss with BC colleagues
Define list of species to include
Build probability/likelihood filters
Decide how many species to include in guide - needs photos, maps, text, phenology plot
Switched off by default to not confuse inexperienced recorders (i.e. within app settings)

[2021-05-13 13:17] DavidRoy opened #72 "Feedback verification decisions within the app"
when open the app, recieve in-app push notification to alert recorders of comments available
(i.e. 5 surveys have feedback)
uploaded list shows symbol (?, x, tick)
view record/list.  Link to edit record

First step = @kazlauskis to produce mock-up

medium if re-using approach in Bloomin' algae app

Query for new verification data every 15mins:
**Method**: POST
**URL**: https://warehouse1.indicia.o

[2021-05-13 13:20] DavidRoy opened #73 "Integrate image classification suggestions in-app"
For photos, provide image classification suggestion
From API that app calls

Could include a 'ID help' function

[2021-05-13 13:25] DavidRoy opened #74 "Add timed-count survey"
@RichardFoxBC + Anthony to test ButterflyCount app 'precise 15-minute count'

Potentially relax 15m default - would be more work

[2021-05-13 14:05] kazlauskis opened #75 "Show thanks after a survey upload"
Say something nice to the user after a survey is uploaded. We could detect when the user is uploading multiple surveys and show the message only once.

[2021-05-13 14:05] kazlauskis commented on #75
This is an example message that is currently shown to a user in a FIT Count app:

<img width="365" alt="Screenshot 2021-05-13 at 15 02 18" src="https://user-images.githubusercontent.com/7383162/118137000-9b166a00-b3fc-11eb-802a-5f9398bd91cb.png">

[2021-05-13 14:14] kazlauskis commented on #67
There are a few things to consider. Like how to "unhide" an existing species when searching for it in the list. One way to do this would be to move all recorded species to the bottom of the search list OR make them more transparent; add a grey overlay. In the future, we might add a Copy option to pre-populate the current survey list with species with zero abundances from the previous surveys. So a

[2021-05-14 08:23] kazlauskis commented on #72
This is what we've done in the Bloomin' Algae app. The app checks for any new verified records every 10mins. We could follow a similar design here or change it. We could also show verifier comments somewhere.

![image001](https://user-images.githubusercontent.com/7383162/118242938-c7ca9000-b495-11eb-838b-f340d371908a.png)
![image002](https://user-images.githubusercontent.com/7383162/118242943-c994

[2021-05-14 08:26] kazlauskis commented on #45
Some more ideas from another app.

<img width="379" alt="Screenshot 2021-05-14 at 09 25 21" src="https://user-images.githubusercontent.com/7383162/118243485-6656f100-b496-11eb-87ac-8d61798dec05.png">
<img width="386" alt="Screenshot 2021-05-14 at 09 25 46" src="https://user-images.githubusercontent.com/7383162/118243491-6820b480-b496-11eb-84ca-d10eaefa0313.png">

[2021-05-14 09:02] RichardFoxBC opened #76 "Old sample image on App Store"
I can now see the new app on the iOS App Store, but the images that first appear on my screen are those for the iPad and these are of the old app. If I select the iPhone sample images then these are correct. Just thought I'd raise it. Perhaps Apple have just made a mistake and left out the new iPad sample images, or perhaps we didn't send them any. Either way it should be rectified please.

[2021-05-14 10:47] RichardFoxBC opened #77 "Enable 'Back' button for Android version"
Do we want to enable functionality of the 'Back' button on Android devices? Review feedback from users at our June meeting.

[2021-05-18 11:34] DavidRoy opened #78 "Slow performance reported"
For review at next catch-up...

Device = Ulefone Armor X7 Pro

Reported issue:
1.	The app appears much slower – it takes a while to load the first screen with the pictures of the butterflies on.  These pictures are too big, and so it is often the case that to find the butterfly you are recording means scrolling down two or three screens – and this will be worse once more species are flying.  The o

[2021-05-18 11:35] DavidRoy opened #79 "Suggested change to flow of recording single-sighting"
Suggestion for review:
1.	When pressing the record button on the main screen, rather than come up with the list of things to update (species, locn, number etc) why not go straight to the species list ?

[2021-05-18 12:54] kazlauskis commented on #79
I feel it is almost the same as tapping on the species in the species guide and tapping 'Record', no?

<img width="521" alt="Screenshot 2021-05-18 at 13 53 21" src="https://user-images.githubusercontent.com/7383162/118654380-6af60f00-b7e0-11eb-9072-b18fa0cb3b42.png">

[2021-05-18 13:54] kazlauskis commented on #78
The main performance difference here is that we show all the species in the same list and in the previous version extra species were hidden under the 'Aditional' button. Also, we use some GPU-expensive blurring effects behind the species cutouts to blend in the photos. We can certainly improve the performance though.

As for the species photo size, yes, we can tweak this and show 3 or more species

[2021-05-24 14:48] RichardFoxBC opened #80 "Redesign life cycle charts"
Several users have complained about the life cycle charts already - specifically that they are far too small to be usable. I think that we will need to revisit and redesign these so that they work in the portrait space provided by the app (rather than in landscape as they were intended to be used)

[2021-05-31 19:39] DavidRoy opened #81 "typo in Brimstone species guide entry"
should be 'distinguish' not 'distringuish' in identification tips text

![brimst](https://user-images.githubusercontent.com/2699478/120234565-2f335e80-c250-11eb-8c90-df94fba4dcb2.png)

[2021-06-11 07:41] DavidRoy opened #82 "Confusion over empty 'uploaded' page"
We've had a few recorders confused that 'uploaded' is empty but they have previously submitted sightings (e.g. using previous app version).  To make this clearer, options are:
1. add message to the page to indicate that 'uploaded' only refers to the latest version of the app, and to see irecord website for full record details
2. or provide a list of users records by an API call to the Indicia ware

[2021-06-17 13:34] RichardFoxBC opened #83 "FAQ page"
Introduce a basic FAQ page with a small number of issues to start with. In particular, telling people about the List recording option

[2021-06-17 13:41] RichardFoxBC opened #84 "Rotate life cycle chart"
Quick fix is for these charts to display rotated into landscape when user clicks on them

[2021-06-17 13:50] RichardFoxBC commented on #69
Use BNM data for 2005-2019 for new rules about what is in your 10km squares

[2021-06-17 13:54] DavidRoy commented on #71
@johnvanbreda - could we meet to discuss the feasibility of implementing these reports

[2021-06-18 08:37] johnvanbreda commented on #71
Yes, let me know when is good for you @DavidRoy

[2021-06-18 13:44] kitenetter opened #85 "Question: is day-flying moth recording possible?"
@kazlauskis a user asks how they can record a day-flying moth on the butterflies app, but I don't think this is possible - please can you confirm?

They said:

I'm not sure which "site" the user is referring to, will find out.

[2021-06-18 13:51] kazlauskis commented on #85
The app doesn't support moths yet #5, whatever this website is, it has incorrect info about the app.

[2021-06-18 13:51] #85 closed

[2021-06-18 14:10] DavidRoy commented on #85
I suspect their is confusion between the iRecord butterflies app (butterflies only) and the Big Butterfly Count app (includes some moths).

[2021-07-01 09:11] johnvanbreda commented on #71
Some notes
- Species list for current year and total is fairly easy (Elasticsearch report).
- Number of records can use sum aggregation, perhaps treating missing values as 1 (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-sum-aggregation.html#_missing_value_17)
- Position in league tables is hard to do in pure Elasticsearch. It may be necessary to dump

[2021-07-01 13:31] DavidRoy commented on #71
Restrict to app survey for now, maybe widen to all iRecord app/website submissions.

Table:
species name, number of records (record count), sum of individuals counted (sum of counts)

with sort option on all columns

Default = current year
Option to select 'all years'
Option to select individual year

[2021-07-01 13:39] DavidRoy commented on #71
From current stats page:
Click on row = Species recorded (total)
Opens a report pages with the table (see comment above for specification) and defaults to all year summary

Click on row = Species recorded (2021)
Opens the same report page with table, but defaults to current year

The report page with table enables options to select all years or a specific year.

[2021-07-01 13:40] DavidRoy commented on #71
@johnvanbreda can you prioritize the report/API to support these initial statistics for the app.  If possible, having them ready by the beginning of next week.  Please liaise with @kazlauskis for details

[2021-07-01 13:41] DavidRoy commented on #69
@RichardFoxBC to provide example issues to check, e.g. Dingy Skipper missing from lists
@DavidRoy to supply updated geographic filter file to @kazlauskis by 5th July at latest
Time filters to be updated at later date

[2021-07-01 13:44] DavidRoy commented on #83
@RichardFoxBC to review help text in the main iRecord app for structure and to identify any text that can be moved across.

Supply any new help text by 5th July to @kazlauskis

[2021-07-01 13:47] RichardFoxBC commented on #69
Issues from testing the new geographic probabilities supplied by @DavidRoy
Dingy Skipper missing from ST60
White Admiral should be included in flying now lists for this week, I would have thought e.g. in SX86. Surprised that Small Heath also not listed as flying now in SX86. There were plenty around at a local site on Saturday (26 June).

[2021-07-01 13:49] RichardFoxBC commented on #82
I suggest we deal with this in the FAQs for the next version

[2021-07-01 13:53] RichardFoxBC commented on #78
Perhaps we could add a user option in the future (not for version 2) to select how many species to appear on the screen? Personally I think it is fine as it is, and the example Karolis gives above with three columns of species has the problem of species names being split across rows i.e. Small Tortoiseshell, which looks messy

[2021-07-01 15:51] RichardFoxBC commented on #83
@kazlauskis
I suggest that this new section sits under Menu, in the Info section, above "Credits".
I suggest we call it Frequently Asked Questions rather than Help.
Use the same approach as in the iRecord app, where there is a short phrase and a plus symbol that can be clicked to reveal more detailed information.

Here is the text I suggest for this first version (comments/edits welcome please @Da

[2021-07-02 11:37] johnvanbreda commented on #71
@kazlauskis I've made several changed in the Drupal 7 Indicia-api develop branch to support extra reporting options. I'll email you some rough documentation (as I'm not sure how to update Postmaster).

Is it OK to merge develop to master and make it live, or do you have a test setup environment we can try it on first? The existing end-point under advanced_reports should in theory not have changed,

[2021-07-02 11:48] kazlauskis commented on #71
Thanks. Once the iRecord migrates to the Drupal 8+ these changes will probably have to be applied to the DP8 module too. Feel free to merge the changes to master, as long as it is backwards compatible I don't really need to review this. We will be discontinuing this module in favour of direct communication to the Warehouse with the new JWT authentication.

[2021-07-07 10:54] kazlauskis commented on #71
A few screenshots from the mockup. I haven't implemented this yet so can easily change if you have any suggestions.

<img width="393" alt="Screenshot 2021-07-07 at 11 47 09" src="https://user-images.githubusercontent.com/7383162/124747622-06bb1600-df1a-11eb-855f-c224de02d923.png">
<img width="388" alt="Screenshot 2021-07-07 at 11 47 22" src="https://user-images.githubusercontent.com/7383162/124747

[2021-07-07 11:37] RichardFoxBC commented on #71
@kazlauskis The mock-up looks great! Hopefully you can get it working with the real report shortly.

Assuming that the report being done by @johnvanbreda  only includes butterfly records submitted through the iRecord Butterflies app, then @kazlauskis please add the following text to the Species report page: Currently, this report only includes records that you have submitted through the iRecord Bu

[2021-07-07 12:56] DavidRoy commented on #71
Looks great
@johnvanbreda - are you ok providing the reports?

[2021-07-07 13:16] RichardFoxBC commented on #75
@kazlauskis @DavidRoy I like this idea and Karolis has a little time to potentially fit this into version 2. I suggest that rather than having the thank you after every upload, which could get a bit tedious if you are doing a lot of recording, perhaps we could have it pop up after the submission of each 10, 25, 50, 100, 200 records each calendar year? The message could then say

"Thank you for sub

[2021-07-07 13:27] kazlauskis commented on #40
@RichardFoxBC just want to clarify if this is correct:

1. The stats page will refresh every time it is opened from the Menu
2. We will remove the 'Refresh' button and introduce a pull-down refresh action.

[2021-07-07 13:30] johnvanbreda commented on #71
Yes, of course.
@kazlauskis the new report API endpoints are now live as per the documentation I provided via email.

[2021-07-07 13:32] kazlauskis commented on #71
Thanks!

[2021-07-07 13:34] RichardFoxBC commented on #40
Sounds good to me @kazlauskis

If we're going to get rid of the Refresh button, we'll probably need a message on the page that says "swipe down to refresh statistics"

[2021-07-07 13:36] kazlauskis commented on #40
Like a one-off message that can be dismissed?

[2021-07-07 13:38] RichardFoxBC commented on #40
No I was thinking more of a permanent bit of text on the page

[2021-07-07 13:50] kazlauskis commented on #40
OK, will do. The pull to refresh action is a common pattern that most people should know about though - it is the default way to update lists on Android and iOS but if this audience needs some help with this then a bit of text might not be too bad.

[2021-07-07 14:34] #40 closed

[2021-07-07 14:34] #81 closed

[2021-07-07 14:34] #84 closed

[2021-07-07 14:34] #83 closed

[2021-07-07 14:34] #66 closed

[2021-07-07 18:43] DavidRoy commented on #83
Thanks @RichardFoxBC.  Looks good

[2021-07-09 09:02] RichardFoxBC opened #86 "Amend text in About"
3rd paragraph change "between 2005 and 2014" to "between 2005 and 2019" please

[2021-07-13 15:10] #71 closed

[2021-07-13 15:10] #86 closed

[2021-07-15 11:52] RichardFoxBC opened #87 "Discrepancies with species reports"
Looking at my "All years" species list in the app shows several things that don't correspond to what I see when I explore my records on the iRecord website. For example:

Silver-spotted Skipper - one record listed in app report, but none on iRecord website
Chequered Skipper - four records listed in app report, but none on iRecord website
Dingy Skipper - appears in the app list twice. This will be

[2021-07-15 12:00] RichardFoxBC opened #88 "Missing legend from Dark Green Fritillary / High Brown Fritillary comparison images"
Hi @kazlauskis, I noticed yesterday (as I happened to be recording these species) that the caption is missing from these images in the app. As with other comparison images, its vital that there is a caption telling the user which species is which. Is this in the spreadsheet or is it one that we missed when originally developing the new app?

[2021-07-15 12:15] kazlauskis commented on #87
I can't test this myself as I don't have the necessary access to your data. @johnvanbreda could you have a look at this?

[2021-07-15 12:19] kazlauskis commented on #88
Yes, it is in the same spreadsheet, **photos** sheet. Let me know when you've added the photo titles and I'll pull it into the app.

[2021-07-15 12:33] RichardFoxBC commented on #88
OK @kazlauskis I've added those captions now. Can't understand how I missed them before!

[2021-07-15 13:09] johnvanbreda commented on #87
Pretty sure this was down to training data being included in the new reports. @RichardFoxBC I've filtered training data out now so let me know if this is still a problem.

[2021-07-15 13:43] RichardFoxBC commented on #87
Many thanks for this @johnvanbreda - yes that has resolved most of those discrepancies. The only remaining issue is for Dingy Skipper, which seems to be a problem because some of my records are stored as _Erynnis tages_ and others as _Erynnis tages tages_ If possible the report should merge any subspecies records together with any species level records, so that there is only a single entry for Din

[2021-07-15 19:15] johnvanbreda commented on #87
@DavidRoy this issue requires us to aggregate to the species taxon, even for records of child taxa. In order to generate the output we require here, we need to add at least the species vernacular name to the Elasticsearch index (plus probably the accepted species name author). We already have the accepted species name in the index for records of sub-species but we need the vernacular as well (as t

[2021-07-15 19:43] #88 closed

[2021-07-15 19:52] DavidRoy commented on #87
Yes please, go ahead with this

[2021-07-16 10:39] RichardFoxBC opened #89 "Location of species list moving"
Hi Karolis, I tested the beta version in the field today and spotted something that doesn't seem right. It probably isn't new but is definitely something that we should check both the logic of our decision making and the implementation.

I created a species list, recorded the location and area size and added some species. I then clicked finish, but then reopened the list as I walked home in case I

[2021-07-16 10:41] RichardFoxBC commented on #89
Also now when I try to move the location back to where I actually saw the butterflies, the app constantly drags the map back to my current location at home, effectively preventing me from recording the accurate and correct spatial location for the record!

[2021-07-16 11:56] kazlauskis commented on #89
@RichardFoxBC I can reproduce this bug. Thanks for reporting I will issue a fix asap.

[2021-07-16 12:11] kazlauskis commented on #89
Fixed it now. The bug was introduced in this Beta only and shouldn't affect regular users.

[2021-07-16 12:11] #89 closed

[2021-07-16 12:59] RichardFoxBC commented on #89
Many thanks @kazlauskis - interestingly I've just had the same issue reported to me by an app user. Does the beta version get downloaded onto all users' devices (if they have autoupdate on)? If so, that doesn't seem a good idea? Surely testing is better done by a small group so that any bugs don't affect all users.

When will the fixed version be available?

[2021-07-16 13:04] kazlauskis commented on #89
Betas only reach the testers - currently you have around 20 on iOS. The fix is already available on iOS and will follow soon on Android.

[2021-07-19 08:57] AnthonyMcCluskey commented on #87
Hi all, not sure if this was being extended to other species, but I'd definitely recommend it for Large Heath, as many records for this species will be of the three sub-species (davus, polydama, scotica), and the same issues would result.

[2021-07-19 11:33] RichardFoxBC commented on #69
I was surprised to find at the weekend that Silver-washed Fritillary appeared in the "Species not recorded from your area" list in the beta version of the app. I am in SX86 and there are plenty of BNM records in our 2005-2019 date period in this square. Please can you investigate why it is not appearing in one of the "in your area" lists?

[2021-07-19 11:51] kazlauskis commented on #69
I'll look into this.

[2021-07-19 12:26] kazlauskis commented on #69
I have found 4 species that have cut-off IDs in the probability docs:
[code]

I have corrected these now but it would be good to fix the probability data (weekly and geospacial) scripts to not trim the IDs and keep these full length @DavidRoy

The IDs here aren't new to this Beta update and so this issue is in the public app. The fix should come out when we release the Beta.

@RichardFoxBC Also, w

[2021-07-19 12:29] DavidRoy commented on #69
Well done on finding this.  These short-hand names came from the old app but I agree that truncated names are not helpful.  I'll include the IDs in future versions

[2021-07-19 12:41] RichardFoxBC commented on #69
Is it the truncated names then that is causing these species to be put into the wrong lists in the app?

Polyommatus coridon is Chalk Hill Blue

[2021-07-19 12:51] kazlauskis commented on #69
Yes. I didn't see that some species didn't have the full IDs when developing the app. In the old app there might have been some extra mapping added or similar.

@DavidRoy would it be possible to use `ChalkHillBlue` instead of `ChalkhillBlue` in the probability files? This would help me to keep the lookup code consistent across all the species.

[2021-07-19 13:24] RichardFoxBC commented on #69
That's good then. Another problem removed!

[2021-07-19 14:03] RichardFoxBC opened #90 "Provide option to list species alphabetically"
After repeated comments from users saying that they would like this feature, we should consider it for a future update. I imagine that it would be a user option in the menu to disable the likelihood lists and just have species ordered alphabetically by vernacular name.

[2021-07-19 14:20] kazlauskis commented on #90
It is good to get this validation for the usefulness of the feature from the users. We could either add the sorting options in the Settings or in the main species screen header.
<img width="381" alt="Screenshot 2021-07-19 at 15 14 52" src="https://user-images.githubusercontent.com/7383162/126175039-33890a82-0e4f-404a-9eee-d853dec1290e.png">

[2021-07-21 13:24] RichardFoxBC commented on #87
Guessing that this hasn't been resolved yet? My All Years list in the current beta is still showing two entries for Dingy Skipper

[2021-07-21 13:32] DavidRoy commented on #87
@RichardFoxBC are you on version 2.1.0 (77) now?

[2021-07-21 13:34] DavidRoy commented on #87
@johnvanbreda can you check the report for user = https://www.brc.ac.uk/irecord/user/7373/edit

[2021-07-21 13:49] RichardFoxBC commented on #87
Yes @DavidRoy I'm on (77). My all years species report shows Dingy Skipper 17 records 53 count and Dingy Skipper 4 records 23 count.

[2021-07-21 13:59] DavidRoy commented on #87
One for @johnvanbreda to check the report is handling the synonymy correctly

[2021-07-21 14:07] johnvanbreda commented on #87
I'm waiting for an update to the Elasticsearch taxonomy data - updating 20m+ records takes some time. 12m done so far.

Once this is done I will be able to modify the report to return species, with sub-specific records being treated as if they were a species record.

[2021-07-21 14:23] RichardFoxBC commented on #87
Many thanks @johnvanbreda I think we should wait for this to be implemented before we release the app update, assuming it won't take too long. No point us issuing an update with the new statistics functionality if it isn't reporting correctly.

[2021-07-21 14:27] DavidRoy commented on #87
@RichardFoxBC it will only affect a proportion of recorders who have submitted Dingy skipper records?  I think the benefits of the new updates to the likelihoods will outweigh the statistics problem.  I suspect many won't find the new stats functionality until we advertise it?

[2021-07-26 09:12] kazlauskis opened #91 "Allow to select more than one photo from the gallery"
At the moment, you can select only 1 photo at a time, adding in bulk would speed things up.

[2021-07-26 09:15] kazlauskis opened #92 "Add location name suggestions (geocoding)"
At the moment, the app suggest location names using your previously recorded locations. It would be good to suggest the names (geocode) and zoom into that location on the map. This probably wouldn't auto select this location, just zoom in.

Example, see FIT Count app location page.

[2021-07-26 19:31] DavidRoy opened #93 "Users unable to upload records when account not activated"
Getting several reports of this.  Users register but don't complete the email activation.  They attempt to upload records but nothing happens.

Solutions = warning message to users that their account is not activated.  Option to request new activation link via email

[2021-07-26 19:32] DavidRoy opened #94 "review location funcationality"
Reports of records associated with home address.  Suggestion from the verifier:

“the app ought to be able to catch this - a change of location with no significant change of grid reference should be automatically queried by the app before submission.”  It’s also been suggested that “a note to the user that the gridref will be derived from their current location might also help… The reverse situati

[2021-07-26 19:56] kazlauskis commented on #94
In the iRecord App we allow to lock a location name so I can easily imagine this could have been forgotten and multiple records submitted using an old name - if that is an issue we should probably open a ticket for the iRecord App then too.

As for the location setting in this app, this applies only to the Species List survey and we could indeed add something like the verifier suggests where we co

[2021-07-26 20:00] kazlauskis commented on #93
There are multiple ways to solve this but the best one would be to use a modern authentication that is provided by the Drupal 8+. Second best alternative would be to improve the current Drupal Indicia API module and update the app with that.

[2021-07-31 19:15] DavidRoy opened #95 "Addition to FAQ"
+ How to edit your sightings after they are uploaded
Once records are uploaded from the app, they can no longer be edited from within the app, and instead you need to do the following :
1.	Go to the iRecord website (www.brc.ac.uk/irecord) and log in (using the same username and password as you have used to register on the app)
2.	Go to the Explore - My records page (https://www.brc.ac.uk/irecord/m

[2021-08-02 09:35] johnvanbreda commented on #87
@karolis I've now updated the Elasticsearch index and the report API so there is an option to retrieve only species level taxa. In the documentation I sent you for the recorded-taxa-list end-point, there was a parameter:

This parameter is now deprecated, but can be replaced by:

[2021-08-03 15:13] RichardFoxBC opened #96 "Abundance values not displaying correctly"
![IMG_7851](https://user-images.githubusercontent.com/36193573/128040216-e623e34d-ed4c-4f99-a21c-368fe3e69105.PNG)
I found that when I get up into larger numbers in the Number field, they start to display vertically instead of horizontally. Example screen shot attached.

[2021-08-04 08:15] #69 closed

[2021-08-16 19:25] DavidRoy opened #97 "Improve time of year filter information"
Distribution rules were updated in version 2 but not the time of year filters.  Review approach to creating the data files.

[2021-08-23 08:53] AnthonyMcCluskey opened #98 "Dates not showing correctly"
Not sure if this is the correct page for errors on certain phone types, but see attached for a screenshot from a volunteer - she can't see the dates on her phone. I can suggest a workaround to her (i.e. going through the list of dates), but wanted to flag this in case it's an issue that others will experience. She tells me her phone is: Xiaomi M2007 J20CG

![app error page](https://user-images.git

[2021-09-01 07:59] Vilius-Stankaitis opened #99 "Improve location name field search"
Feature request: https://www.brc.ac.uk/irecord/node/8438

[2021-09-03 09:58] DavidRoy opened #100 "FAQ for how to get ID support"
Request from recorder:
_Having just entered a sighting of a butterfly which I couldn’t identify, I wonder whether there could be an ‘unidentified’ option on the app? If this was combined with a photograph, the species could be identified properly by someone more qualified. I had to put an option (dark green fritillary in this case) but that might well have been inaccurate._

[2021-09-08 09:58] #96 closed

[2021-09-09 13:28] DavidRoy commented on #100
Not implement the request but add an FAQ to give advice on how to get an ID for butteflies - e.g. facebook, twitter, county recorder, iSpot, iNaturalist

[2021-09-09 13:46] DavidRoy commented on #99
Options discussed
- locking (not favoured)
- add a button to select 'use previous site name'
- improve ordering of previous site names
- add in iRecord 'favourites' functionality

Favour improved sorting.  Prioritize where site names match the start of string text or a word within the site name

[2021-09-09 13:47] DavidRoy commented on #95
Richard to edit and confirm text

[2021-09-09 13:50] DavidRoy commented on #94
Close as suspect an old issue that has been resolved

[2021-09-09 13:50] #94 closed

[2021-09-09 13:58] DavidRoy commented on #92
Will not take this forward as we rely on the phone GPS.  Richard to write an FAQ that the phone to be used in the field and BNM is an alternative

[2021-09-09 13:58] #92 closed

[2021-09-09 14:10] RichardFoxBC commented on #95
Text looks good to me. Over to you @kazlauskis to implement this new FAQ please

[2021-09-09 15:14] RichardFoxBC commented on #100
Suggested text for a new FAQ. What do you think @DavidRoy @AnthonyMcCluskey ? Please feel free to suggest edits/amendments.

**What if I am not sure which species it is?**
Identifying butterflies is not always straightforward and some very common and widespread species can be challenging to identify (e.g. Large, Small and Green-veined White).  Please don't submit sightings if you are not sure of t

[2021-09-09 15:17] DavidRoy commented on #100
Excellent.  Looks ready to me

[2021-09-09 15:23] #61 closed

[2021-09-12 13:34] DavidRoy opened #101 "FAQ for how to delete species from a 'survey list'"
add FAQ entry for 'How to delete a species from survey list'

"To delete a species from your list, swipe it left and click the delete button."
Karolis to add screenshot for this

[2021-09-14 12:07] #100 closed

[2021-09-14 12:25] kazlauskis commented on #90
@RichardFoxBC We are planning to add a sorting toggle setting with 'Alphabetical sorting' label and info text below it: 'By default the species lists are sorted using time and location probability information. You can disable this and sort the species alphabetically.'

This will keep the list filtering as is and will only sort the species alphabetically.  OR do you want to disable any probability

[2021-09-15 08:23] kazlauskis commented on #75
@RichardFoxBC @DavidRoy showing the stats below might not be straightforward. The database that iRecord uses for reports updates only every 15 minutes (data is cached) - this is currently used for the figures that you see when you open the user statistics page.

We could use the same report data when showing the info messages but it would be misleading to see old stats when you know you've just up

[2021-09-15 08:53] RichardFoxBC commented on #90
@kazlauskis Thanks for this. I have emailed two beta testers who specifically requested alphabetical species listing to see which option they would prefer. I think I would lean towards the former i.e. alphabetical sorting within the probability-defined subsections. I'll let you know what they say.

[2021-09-15 08:53] DavidRoy commented on #75
@kazlauskis I think we should use the iRecord cache numbers, but give a message to explain that this only includes uploaded records and will not include those very recently uploaded.

This is the best option for encouraging uploads imho

[2021-09-15 09:02] kazlauskis commented on #75
OK, thanks. How would you like to rephrase the message? maybe something simple like this:

"You have now uploaded XXX records since the start of 2021, comprising XX butterfly species (updated 15mins ago)"

[2021-09-15 09:10] RichardFoxBC commented on #75
@kazlauskis We definitely shouldn't use the locally cached data on the device. So we can only really use the data reports from the iRecord database. In this case, I think we should exclude the number of species as that is the thing that users will notice as being out of date. I assume we are going with my suggestion of only putting this message up after 'milestone' numbers of records, rather than

[2021-09-15 09:11] DavidRoy commented on #75
that works for me (say '15 minutes ago' if space), but @RichardFoxBC to confirm

[2021-09-15 09:18] RichardFoxBC commented on #75
I'm not sure that the "15 mins ago" is needed. There might have been a long delay between the user submitting their 25th record (which would not prompt the message) and then submitting their 26th (which would prompt the message). In fact, now that I think about it, the message will only ever be prompted on the next upload that occurs >15 mins after the one that took them to the 25, 50, 100 etc. th

[2021-09-15 09:23] DavidRoy commented on #75
I agree, making this milestone based keeps this simpler.

Should we also have a 'Milestones' page?  A nudge towards gamification and reward 'badges'

[2021-09-15 10:30] RichardFoxBC commented on #75
Perhaps not yet?

[2021-09-15 10:34] kazlauskis commented on #75
I understand you want these 'milestone' triggers to be based on the server stats and not the user local records too, is that right?

[2021-09-15 10:40] RichardFoxBC commented on #90
OK all, I've heard back from the two beta testers already. One said they would prefer a single unfiltered list sorted alphabetically, the other that it would be better to keep the probability-filtered sections and sort alphabetically within each one - although they did also have another grumble about the inaccuracy of the probability filtered lists!

So, as the first step I suggest we give users t

[2021-09-15 10:41] RichardFoxBC commented on #75
Yes absolutely. Given the problems with the local cache that you outlined in an earlier message, I don't think we should use them at all.

[2021-09-15 11:06] kazlauskis opened #102 "Allow to disable probability filtering"
Add an app setting to show all the species in a single long list sorted alphabetically. From NERC-CEH/irecord-butterflies-app#90

[2021-09-15 11:06] kazlauskis commented on #90
Thanks, lets sort with the filtering for now and create another ticket for disabling the filters altogether.

[2021-09-15 11:13] kazlauskis commented on #75
OK. There might be a scenario where a user creates 100 records (pending) and taps upload all, it might take a minute or two for these all to reach the server and the server statistics would only be updated some time after that. In such a case after all the 100 records reached the server no popup thanks message would be shown. Only after some 15 mins have passed and a new record (which would count

[2021-09-15 11:24] RichardFoxBC commented on #75
Yes that sounds OK. My understanding/assumption is that the thank-you pop-up will only appear after a record has been uploaded i.e. it won't just appear spontaneously e.g. when the app is opened.

If that's correct, then the pop-up for a particular milestone will only ever appear when the user submits a record >15 mins after the record that reached the milestone threshold. Thus the actual number o

[2021-09-16 09:20] DavidRoy opened #103 "Failure to upload reported for iOS update 14.8"
Reported on 15/9/21 by one of the most prolific users of the app = recent iOS update to v14.8 has stopped the iRecord butterflies uploads.

I've asked for phone version as I can still upload ok.

@RichardFoxBC - can you confirm you can still upload ok

[2021-09-16 09:50] kazlauskis commented on #103
I've looked this up and it seems the Indicia API module finds the request unauthenticated. Which essentially means that for some reason either the app isn't correctly attaching the user credentials, the Indicia API module isn't recognising them or the user has changed email/password on the website and this has diverged from the ones in the app.

For now my suggestion would be to logout and login a

[2021-09-17 10:20] RichardFoxBC commented on #103
Hi all, I've just updated my iOS to the new v14.8 but I am still able to upload records from the app without any problem.

[2021-09-20 09:11] #95 closed

[2021-09-20 09:11] #101 closed

[2021-09-20 09:11] #98 closed

[2021-09-20 09:11] #99 closed

[2021-09-20 09:11] #102 closed

[2021-09-20 09:11] #90 closed

[2021-09-20 13:47] #103 closed

[2021-09-20 14:03] DavidRoy commented on #87
@RichardFoxBC is this issue resolved for you?  Close if ok.  If not, please label for Milestone 3

[2021-09-20 14:03] DavidRoy commented on #77
Putting in milestone 3 so we don't forget this one

[2021-09-20 14:05] DavidRoy commented on #78
discuss at future meeting whether we focus on this for the 2022 version

[2021-09-20 14:06] DavidRoy commented on #79
Agreed.  Closing this suggestion as it does not reduce taps

[2021-09-20 14:06] #79 closed

[2021-09-24 12:21] #75 closed

[2021-10-05 08:57] RichardFoxBC opened #105 "Typos in FAQs"
Please make the following amends to the FAQ text:

Where are all my previous records?
In the second sentence "To see these, download them..." please add "the" after "visit" and change "site" to "website"

Why are species missing from the 'in my area' list?
In the third sentence "Other species may be present...." please add "appear" between "not" and "in"

[2022-01-06 09:41] RichardFoxBC opened #106 "Stats have not updated for 2022"
Happy New Year everyone!

Just spotted that the statistics report in my app has not refreshed properly for 2022. The year has changed but the reported number of records and species is still the same as for 2021. Please can you investigate and fix?

[2022-01-06 11:06] kazlauskis commented on #106
Thanks, looks like after the website update the report stopped working. We'll work on it this as soon as we have some more capacity.

[2022-01-06 16:48] DavidRoy commented on #106
@kazlauskis - Biren can look into this if you can confirm the report that needs to be reinstated

[2022-01-11 18:12] kazlauskis commented on #106
There are two endpoints that don't work anymore:
`https://www.brc.ac.uk/irecord/api/v1/advanced_reports/recorded-taxa-list`
`https://www.brc.ac.uk/irecord/api/v1/advanced_reports/user-stats`

Yes, Biren might be able to help fix these.

[2022-01-11 18:18] DavidRoy commented on #106
@BirenRathod can you investigate please

[2022-01-11 19:18] BirenRathod commented on #106
@kazlauskis where can I find this report?

[2022-01-11 19:21] BirenRathod commented on #106
@kazlauskis It is because you haven't used indicia_api v1 version which was used originally in old iRecord.

[2022-01-11 20:06] kazlauskis commented on #106
You know it better, I didn't follow the indicia API development. Can you fix it?

[2022-01-11 20:10] BirenRathod commented on #106
yes @kazlauskis I'm doing that. Just to check with you on new irecord.org.uk website there are two indicia_api & indicia_api_v2 modules. Which one we use for this?

[2022-01-11 20:12] kazlauskis commented on #106
This issue is part of the old module which is stored in the `indicia_api` folder.

[2022-01-11 21:00] BirenRathod commented on #106
@DavidRoy, @RichardFoxBC & @kazlauskis I have updated indicia_api module. Can somebody check if report is working fine or not? I can't check from my app.

[2022-01-11 21:07] DavidRoy commented on #106
@BirenRathod the stats appear but I think they report the wrong year.  They show numbers for 2021, not 2022.  i.e. not the current year.  I'm not sure if the report is hard coded for year?

[2022-01-11 21:22] BirenRathod commented on #106
@kazlauskis which report do you call from butterfly app?

[2022-01-12 09:03] BirenRathod commented on #106
@DavidRoy The report uses the one created on Elasticsearch. So it should bring 2022 year data unless on Elasticsearch it filters only for 2021.

[2022-01-17 09:36] kazlauskis commented on #106
@BirenRathod the `https://www.brc.ac.uk/irecord/api/v1/advanced_reports/user-stats` is still returning 404 for me in the app.

[2022-01-18 13:56] DavidRoy commented on #106
@BirenRathod can you update me on progress with resolving this

[2022-01-18 13:58] BirenRathod commented on #106
@DavidRoy There is a code for indicia_api which may be @johnvanvreda created while ago. that needs to update by @johnvanbreda. once done this should work fine. The code is already on irecord pantheon.

[2022-01-18 14:47] DavidRoy commented on #72
Next step is to mock-up the user interface.  To cover lists and individual occurrence notifications

[2022-01-18 15:29] DavidRoy commented on #106
@johnvanbreda - you created the reports to support Karolis working on the app.  Can you help resolve this issue?

[2022-01-19 10:13] johnvanbreda commented on #106
I've now added code to the v1 branch with the reports that the D7 module supported. Although I've tested in isolation, it would be wise to test from the app before putting it live.

[2022-01-19 10:15] DavidRoy commented on #106
Thanks @johnvanbreda.  Going straight to live is fine as very people will be recording butterflies at the moment.  Would make it easier for me to test

[2022-01-19 10:28] BirenRathod commented on #106
@DavidRoy, @johnvanbreda & @kazlauskis That code has released on live now.

[2022-01-19 10:41] RichardFoxBC commented on #106
Many thanks @johnvanbreda and @BirenRathod - stats are now reporting correctly for 2022 in my version of the app

[2022-01-19 10:52] DavidRoy commented on #106
Me too. Thanks both!

[2022-01-19 10:52] #106 closed

[2022-01-19 11:25] #76 closed

[2022-01-19 11:28] kazlauskis commented on #74
@DavidRoy should we create a new survey ID for this or reuse the eBMS one instead?

[2022-01-19 12:12] DavidRoy commented on #74
@kazlauskis a new survey ID so we have more flexibility

[2022-01-23 10:02] kazlauskis opened #107 "Add an option to delete user account in the app"
A new iOS requirement for all apps that have the user account creation in the app to also have user data delete process in the app. **The deadline is June 30, 2022.**

**Account deletion within apps**

The account deletion option should be easy to find in your app.
It’s insufficient to only provide the ability to temporarily disable or deactivate an account. People should be able to delete the acc

[2022-01-23 10:03] kazlauskis commented on #107
We should identify what personal data is collected where first (website, warehouse, logs etc) but we don't have to fully automate the account deletion process. The easiest way to build this would be to add a button that initiates a delete process that is taken care of by the customer support, which is fine by Apple. In that case, someone at BRC/BC could check which data needs deleting (website, wa

[2022-01-23 11:32] DavidRoy commented on #107
We had quite a discussion on this for the NPMS.  I will see if this can be generalised across surveys/apps etc.
https://github.com/BiologicalRecordsCentre/NPMS/issues/92

@andrewvanbreda - would you be able to take on some extra work on this to create a general process that we can implement across our survyes/apps/websites.  Noting the end of June deadline from apple

[2022-01-24 11:11] andrewvanbreda commented on #107
Hi @DavidRoy @kazlauskis ,

OK, I will explain how NPMS currently approaches this, then my thoughts on generalising this.

On NPMS users have a Drupal account which holds basic Drupal account information (name, email etc) but additional information is also held in additional Drupal user account fields (such as their address). These additional fields are also synced to the Warehouse for reporting.

[2022-01-24 11:34] kazlauskis commented on #107
I've just tested this and can confirm I can initiate user account delete process using Drupal 8+ REST API. The delete process is handled by the core Drupal code so I don't know if it is exactly the same as when using the website UI vs the REST API.

[2022-01-24 12:56] andrewvanbreda commented on #107
@kazlauskis @DavidRoy
I have a few further thoughts on this.

1. Actually I remembered that my code currently only works on Drupal 7. An attempt was made to convert to Drupal 8/9 at the time it was coded, but that was too involved for the available budget. So I will need to do this conversion.

2. NPMS will be moving to Drupal 9 this year, so actually this conversion would be done for that anyway.

[2022-01-24 13:02] DavidRoy commented on #107
for 2. yes, completely expect that this will need to be funded outwith NPMS.  Please let me have an estimate when the requirement is clearer.

sounds promising so far though, thanks

[2022-01-24 13:32] kazlauskis commented on #107
3. Sure. I can do a call to your website. This test site should have the OAuth2 authentication enabled in order for the REST endpoints to work. Instead of setting up a new test site I wonder if you could install the easy_login to one of the existing dev sites (iRecord, eBMS, FIT etc)?

[2022-01-24 14:25] kazlauskis commented on #107
In order for me to cancel a user using REST the site has to be Drupal 8+ and have the OAuth2 enabled. Is there any other way we could test this?

[2022-01-24 14:40] andrewvanbreda commented on #107
@kazlauskis
Don't think so.
OK I think what needs to happen is I will do the conversion of the Indicia easy_login field syncing to warehouse from Drupal 7 to 8/9.
This needs doing anyway for NPMS (although I wouldn't of done it quite so soon).

After this we will do the test and hope it works, and if it doesn't work, we will take necessary action.

I am not quite sure how quickly I will be able to

[2022-01-27 10:27] RichardFoxBC commented on #76
The App Store is still showing images of the old app under iPhone (although the iPad images are now correct)

[2022-01-27 10:31] kazlauskis commented on #76
Could you send us screenshots as for me these look correct? https://apps.apple.com/gb/app/irecord-butterflies/id815539116#?platform=iphone

[2022-01-27 10:38] RichardFoxBC commented on #76
![IMG_9237](https://user-images.githubusercontent.com/36193573/151342526-05105cfc-a939-418b-aafa-945c2dfbd9fd.PNG)
![IMG_9238](https://user-images.githubusercontent.com/36193573/151342532-311a37c1-926f-47a8-8ff2-7e7099cbc616.PNG)

[2022-01-27 10:44] kazlauskis commented on #76
Thanks, I've fixed it now and it will appear correct with the next app release.

[2022-01-27 14:03] #105 closed

[2022-01-27 16:29] RichardFoxBC commented on #5
@DavidRoy here is my starting list of 30 moths (and in some cases their caterpillars) to be added to the app. These are all deemed likely to be seen during butterfly recording and where there isn't any major ID confusion. Let me know if you have any concerns about any of them:
Six-spot Burnet
Oak Eggar
Fox Moth
Emperor Moth
Hummingbird Hawk-moth
Shaded Broad-bar
Silver-ground Carpet
Yellow Shell
C

[2022-01-28 09:08] kazlauskis commented on #74
Hi David, From your notes yesterday:

Has something changed? We have created a new survey in the warehouse but we could delete it and point the app to the UKBMS one if you preferred that.

[2022-01-28 09:09] kazlauskis opened #108 "Select target species before timer starts"
For the single species survey

Page title : **Select target species**

[2022-01-28 09:10] kazlauskis opened #109 "Make ‘Site name’ as mandatory for the single species survey"
Add it under the 'Area' button.

[2022-01-28 09:10] kazlauskis opened #110 "Make weather data as required for single species survey"
Weather data as required. Pre-populated when data connection available

[2022-01-28 09:19] kazlauskis opened #111 "Include UKBMS logo"
At the top of the survey page or, if small, in the header.

[2022-01-28 09:33] DavidRoy commented on #74
sorry, I'd forgotten this issue.  Stick to this being a new survey!

[2022-01-28 09:36] DavidRoy commented on #111
[ukbms_logo.zip.zip](https://github.com/NERC-CEH/irecord-butterflies-app/files/7957458/ukbms_logo.zip.zip)

here is the random collection of ukbms logo files!

[2022-01-28 09:40] kazlauskis opened #112 "Capture survey duration in single species count"
The value should be mm:ss. It’s possible some timed counts could go over an hour.

[2022-01-28 09:42] kazlauskis commented on #112
@RichardFoxBC do you have any preferences how we capture the duration value?

At the moment, we're thinking of storing it using the mm:ss format but we’ll make the minutes part to not be restricted to 60 and so if the count runs say two hours then we can record it as e.g 120:00. Would that be OK?

[2022-01-28 10:55] kazlauskis commented on #72
This is what is currently included about the verification in the Elastic occurrence output (`services/rest/es-occurrences/_search`):
[code]

This is what's included if the occurrence is fetched directly (`services/rest/occurrences/OCCURRENCE_ID?verbose=1`):
[code]

None of the endpoints contain any occurrence comments and we could build a new report to fetch these but I would hope this could be ad

[2022-01-28 13:23] RichardFoxBC commented on #112
Yes that's fine

[2022-01-28 13:27] DavidRoy commented on #112
@RichardFoxBC just to check that we should not put a maximum time limit on a timed search.  May an hour?  That still leaves the option of multiple searches in the same location on the same day?

[2022-01-28 13:32] RichardFoxBC opened #113 "Add stage to Single Species Timed Count mode"
Further discussion with my colleague Ian (who I've invited to see the demo at our next meeting) raised the need to include stage as part of this mode. Please include stage in the first step, along with site name and species selection. This can be defaulted to Adult, as it is in other modes.

[2022-01-28 13:59] kazlauskis commented on #113
I understand you would like All to ask it every time when the survey starts, is that right? How often would ppl record non adults? We already allow to change the stage when you open the occurrence page in the survey, only that the user would have to change that multiple times if recording lots non-adults.

[2022-01-28 14:05] RichardFoxBC commented on #113
Yes please. Timed counts of non-adult stages are common e.g. for larval webs of Marsh Fritillary or eggs of Brown Hairstreak.

[2022-01-28 17:28] kazlauskis commented on #113
OK, adding this question changes the survey flow even more then, **species -> stage -> count (-> finish steps?)**

I think, we might need to rethink how the current survey interface looks like. It would be good to know if Ian thinks we should be adding/moving any other attributes or reshuffling the survey more before we continue working on it 😄

[2022-01-29 16:10] DavidRoy commented on #113
@RichardFoxBC do you think we should keep this survey flow simpler
 species -> count -> stage -> finish steps

Once the species is selected the stage can be changed by clicking on the name.  This works if we assume that the most typical use of the single-species survey is for adults

[2022-01-29 17:00] DavidRoy commented on #72
@burkmar can you help Karolis with an API update to enable access to verifier comments, e.g. to enable Karolis to access a comment like 'Thank you very much for submitting your record! Lovely clear photos!' from this record https://irecord.org.uk/record-details?occurrence_id=23621379
So we can report this back in the iRecord Butterflies app

[2022-01-29 17:01] DavidRoy commented on #72
@burkmar can you help Karolis with an API update to enable access to verifier comments, e.g. to enable Karolis to access a comment like 'Thank you very much for submitting your record! Lovely clear photos!' from this record https://irecord.org.uk/record-details?occurrence_id=23621379
So we can report this back in the iRecord Butterflies app.

I don't think this information is held within the elast

[2022-01-29 18:57] DavidRoy commented on #5
@RichardFoxBC no objection to these and this is a tricky one.  some other random suggestions of species to consider:
Mint moth (Pyrausta aurata)
Forester moth (Adscita statices)
Argent and sable moth (Rheumaptera hastata)
Small Magpie (Anania hortulata)

Maybe you discounted these because of ID confusion?

Did Ian also look at what gets recorded regularly on transects?

[2022-01-31 16:23] RichardFoxBC commented on #5
Thanks David. We have excluded Forester and Argent and Sable so far because of both rarity and ID difficulties. Hadn't really thought about micros - that might open a whole other can of worms!

[2022-01-31 16:32] DavidRoy commented on #5
Agreed. Let's start with your list as that certainly covers the main things likely to be found and id'd by butterfly recorders

[2022-02-02 10:28] #93 closed

[2022-02-04 09:45] RichardFoxBC commented on #5
@kazlauskis I've uploaded photos of the 30 moth species that we will start with. Do you want me to enter the text and details for them into the same species.xlsx spreadsheet as the butterflies? i.e. just continue the list. Or do you want the moths separated off in some way - as we will be allowing the user to switch them on and off as a group.

[2022-02-04 11:51] kazlauskis commented on #5
Thanks! Yes, please use the same sheet. You can just append the moths to the end of the butterflies list but maybe create a new column and flag the new species as moths.

[2022-02-07 06:57] #112 closed

[2022-02-07 06:58] #110 closed

[2022-02-07 06:58] #109 closed

[2022-02-08 11:15] RichardFoxBC commented on #5
I've now added text for the 30 day-flying moths to the Species spreadsheet. Because we don't have life-cycle diagrams for the moths, I've described the flight season, which you can hopefully display in the app under "When to see" for the moth species.

[2022-02-08 11:29] kazlauskis commented on #5
@RichardFoxBC Excellent thanks. We don't have the moth distribution maps yet or did I miss them somewhere?

@DavidRoy for the moth warehouse IDs, I think, originally you might have set up the IDs for the butterflies. Is there a special warehouse butterflies+moths list we should use for this or should I just use the IDs from the UKSI master list in the warehouse?

[2022-02-08 11:59] kitenetter opened #114 "Should we make the links to iRecord accounts clearer?"
We occasionally get emails from users of the butterfly app who are alarmed when they receive notifications from iRecord, and the latest example is from a user who is insistent that they don't have an iRecord account and that we should not be contacting them.

The "About" section of the iRecord Butterflies app does say that records are stored within "the iRecord website" but it does not explicitly

[2022-02-08 12:01] DavidRoy commented on #114
I found this hard to understand the when the app has 'iRecord' in the name, but yes, anything to make the about text better is very welcome

[2022-02-08 12:14] RichardFoxBC commented on #5
@kazlauskis no we don't have the maps yet. Nor the cut-outs that are needed for the buttons - those could take some time

[2022-02-08 12:32] kitenetter commented on #114
In the final main paragraph of the "About" page, after the sentence "Any records you submit ... and national butterfly databases", I would suggest adding this text:

Your registration with this app also creates an account on the iRecord website, and you may receive notification emails from iRecord informing you about any checks and feedback on your records. If you wish, you can log on to the iReco

[2022-02-11 12:39] #114 closed

[2022-02-11 12:40] #108 closed

[2022-02-14 08:56] #45 closed

[2022-02-17 16:39] DavidRoy commented on #113
Looks good to me. I'm generally in favour of having this option for more species as we can't necessarily anticipate the sorts of projects that will want to monitoring individual species

[2022-02-18 10:22] #113 closed

[2022-02-18 15:50] RichardFoxBC opened #115 "Popup and FAQ text for Single Species Timed Count mode"
Here's is our suggested text for the popup:

Use this feature for timed counts of priority species. Select the species and life stage and provide a site name. Weather details should be added automatically or you can add them manually. During the survey, tap the Count each time you see the target species. The app will track the time and route.

Such surveys may contribute to UK Butterfly Monitoring

[2022-02-18 16:49] RichardFoxBC commented on #115
And here is text for a new FAQ:

**Will my single-species timed count contribute to the UK Butterfly Monitoring Scheme (UKBMS)?**

Timed counts form an important part of the UKBMS dataset, enabling more robust national and regional trends to be calculated for priority species when transect data are limited. Single species timed counts submitted via this app will be made available to the UKBMS and

[2022-02-18 20:59] DavidRoy commented on #115
That's great, thanks

[2022-02-28 10:27] andrewvanbreda commented on #107
Hi @DavidRoy @kazlauskis ,

Just a quick progress update on this, because it may appear this work has gone quiet when things have actually been progressing in background.

There are several stages to this

1.
Convert the user account field syncing to Drupal 9.
In practice, this means that any fields a user has on their account (such as their address) will sync to the warehouse (if the project has

[2022-02-28 11:21] RichardFoxBC commented on #5
Hi @kazlauskis I've just uploaded the moth cut-outs into a new folder "Cutouts - moths". Hope these are OK for you to use in the app.

[2022-02-28 11:38] kazlauskis commented on #5
Great! We'll add these in.

[2022-03-01 11:03] #5 closed

[2022-03-01 11:04] #72 closed

[2022-03-02 22:15] #115 closed

[2022-03-04 12:14] RichardFoxBC commented on #113
@kazlauskis I've made a few changes to the species table to correct the species selection available for timed count mode. I presume these will just be updated automatically and won't need you to do anything. If you want to check in the app, Speckled Wood should not now be available, but Silver-washed Fritillary, Wall and Small Blue should be (but weren't before)

[2022-03-04 12:25] RichardFoxBC opened #116 "FAQ about day-flying moths"
Here is some suggested text for a new FAQ re day-flying moths. I suggest it comes immediately after the "Why are species missing from the 'in my area' list?" one.

**Why are moths in a separate section of the species list?**
This new section of the list is a temporary solution. We have not yet put any information into the app about the known distributions of day-flying moths, or the times of year

[2022-03-04 13:06] kazlauskis commented on #113
OK, thanks! We'll have to pull it into the Beta app but that should be straightforward and will come out with the next update.

[2022-03-07 11:47] RichardFoxBC commented on #97
Hi @DavidRoy I thought it might be good to capture discussions and deliberations about the new filtering rules in GitHub so that others can see and we can keep a record of decisions.

Re excluding immature records, would it work if I just defined the months for which records of certain species (e.g. Brown Hairstreak) are excluded from the date data?

On a more general point, I'm having reservation

[2022-03-07 11:50] RichardFoxBC opened #117 "few minor moth bugs in v3 beta"
Just doing some testing on the new beta and spotted the following minor issues:

1. The website link at the bottom of the Antler Moth species account doesn't work
2. The main image doesn't load in the Six-spot Burnet species account

[2022-03-07 11:55] DavidRoy commented on #97
@RichardFoxBC
- yes, month to exclude would work
- agreed.  perhaps we should try options to just use the 'target' hectad or have a low weight for surrounding hectads (to give some smoothing, and to deal with cases where recording is on the border of hectads)?

[2022-03-07 12:30] RichardFoxBC commented on #97
OK @DavidRoy

Brown Hairstreak - exclude any records in January, February, March, April, May, June, November and December
Purple Hairstreak - exclude any records in January, February, March, April, May, October, November and December
White-letter Hairstreak - exclude any records in January, February, March, April, September, October, November and December
Marsh Fritillary - exclude any records in

[2022-03-07 12:45] #78 closed

[2022-03-07 15:02] #116 closed

[2022-03-08 19:15] DavidRoy opened #118 "Location name not submitted with records?"
I submitted a record today with a location name.  The record uploaded ok, but the location name is missing.  See:
https://irecord.org.uk/record-details?occurrence_id=24298992

@Vilius-Stankaitis can you check that location name is included in the record submission

[2022-03-09 07:56] Vilius-Stankaitis commented on #118
@DavidRoy  It is fixed now. Thank you for finding this issue

[2022-03-09 07:59] #118 closed

[2022-03-09 09:32] DavidRoy opened #119 "Typo in site name screen"
For single-species timed count.  On Site name screen, the info text has typos.

Currently says: 'Site name eg neay village'

Replace with 'Site name, e.g. nearby village'
![irb2](https://user-images.githubusercontent.com/2699478/157413599-8d378f3d-d0ea-44a9-be17-664fe8231c05.png)

[2022-03-09 09:35] DavidRoy opened #120 "Speckled Wood should not be in list of species for single-species count?"
@RichardFoxBC to confirm
@Vilius-Stankaitis to update spreadsheet?
![irb1](https://user-images.githubusercontent.com/2699478/157413719-39d0316b-0b0b-401c-b3fc-c4c60e09a32b.png)

[2022-03-09 09:37] DavidRoy opened #121 "Disable 'back' button from main single-species-timed count page when survey starts?"
When a single-species timed count survey has started (e.g. after species has been selected), the back button should not be an option.
@RichardFoxBC do you agree?
![irb3](https://user-images.githubusercontent.com/2699478/157414257-978fbca2-7546-4d3f-abe9-dcbd8ab8688d.png)

[2022-03-09 09:38] kazlauskis commented on #120
@DavidRoy can you update to a newer iOS Beta release (136)?

[2022-03-09 09:53] DavidRoy commented on #120
Thanks.  All fine now

[2022-03-09 09:53] #120 closed

[2022-03-10 12:38] #119 closed

[2022-03-11 14:51] RichardFoxBC opened #122 "Record dates not showing on map"
Hi, when I look at the new map none of my records have the date. All of them show "Invalid date" when I tap on them to see the details.

[2022-03-14 08:24] Vilius-Stankaitis commented on #122
Hi, @RichardFoxBC  I have fixed this. Thank you, for finding this issue.

[2022-03-14 09:05] RichardFoxBC commented on #122
Thanks @Vilius-Stankaitis So should I see the correct dates in the beta now or only when a new verison of the app is released?

[2022-03-14 09:09] Vilius-Stankaitis commented on #122
In the new app version :). Should be later today

[2022-03-14 09:26] RichardFoxBC opened #123 "Time, area and weather data not in data download from iRecord"
Hi, perhaps one for @DavidRoy ? I've just run a download from iRecord for the dummy timed count I did yesterday and the download spreadsheet has no data for the duration, start time or any of the weather variables.

[2022-03-14 09:32] RichardFoxBC opened #124 "Autofill of weather data"
A couple of potential issues with the autofill of weather data in the single species timed count option:

1. Where does this data come from? I've just tried two dummy counts, one on my home Wifi and one on 4G connection in the same location. Both filled weather data that seemed incorrect e.g. 11% sunshine when in reality there is 100% sunshine and wind direction NW when the Met Officer weather app

[2022-03-14 09:38] RichardFoxBC opened #125 "Record verification status in area part of single species timed count"
I've verified some dummy single species timed count records that I entered yesterday. The app correctly notified me that they had been verified and the verification icons in My Records all worked beautifully. However, if I open the submitted timed count and click on Area to show the route walked and the locations of the records logged, these are all shown as orange dots rather than with the verifi

[2022-03-14 09:45] RichardFoxBC opened #126 "App use of location"
When I first opened the single species timed count mode I got the attached message. Two things about this - first can we change the title please from "Time survey" to "Timed count". Second, is it necessary to have the option to Always Allow? Why would we want our app to always be using a person's location??
![IMG_9379](https://user-images.githubusercontent.com/36193573/158146594-80aba7bc-81e5-43e4

[2022-03-14 09:50] RichardFoxBC commented on #121
Yes I agree. Please remove the back button on this screen

[2022-03-14 09:55] kazlauskis commented on #121
All the surveys have Back and Finish buttons at the moment. Do you want us to remove it from all of them to keep it consistent?

I think, we should allow the user to leave the survey to check some species ID in the guide or read the FAQ.

[2022-03-14 09:57] kazlauskis commented on #126
@Vilius-Stankaitis change the popup title please from "Time survey" to "Timed count".

@RichardFoxBC this is a question about allowing the app to track your movement even if you have locked your device.

[2022-03-14 09:59] DavidRoy commented on #126
"this is a question about allowing the app to track your movement even if you have locked your device"
@RichardFoxBC this is definitely needed as phones will 'go to sleep' on long timed counts
@kazlauskis should we say something in the pop-up text to explain this, otherwise most people will select 'only when using'?

[2022-03-14 10:00] kazlauskis commented on #126
@DavidRoy Sure, what would you like the popup message to say?

[2022-03-14 10:06] Vilius-Stankaitis commented on #124
@RichardFoxBC https://openweathermap.org/find

[2022-03-14 10:15] RichardFoxBC commented on #121
OK that's a good reason @kazlauskis , but the problem is that having click Back from a timed count, it is not obvious how you get back to the timed count that you are in the middle of

[2022-03-14 10:29] DavidRoy commented on #126
Change "Allow background geolocation to set your survey transect" to
"Please select 'Change to allow always allow' to enable an accurate location for your sightings and time counts, even when your phone is locked or asleep."

[2022-03-14 10:29] RichardFoxBC opened #127 "Double check on Finish for timed count"
Just starting to receive comments back from testers. First one:

"If you hit Finish the count by mistake and want to carry on, you cant. So you have to start again and either lose that data or submit two partial counts for the same place. I know you can pause the timing (though that is not obvious for a beginner). Maybe we would all soon learn not to do it but it might be handy to be able to conti

[2022-03-14 11:28] RichardFoxBC opened #128 "Timed count Duration after 60 minutes"
The Duration of a timed count only shows minutes and seconds. When it gets to 1 hour, it just resets to 0 mins 0 seconds. I've not checked if the submitted duration is correct, but the on screen one definitely needs changing please

[2022-03-14 11:32] kazlauskis commented on #124
Thanks. Since this app doesn't require global weather info (like the ButterflyCount app does where this comes from), I suggest to explore some more UK-focussed weather APIs out there at some point.

[2022-03-14 11:34] kazlauskis commented on #121
What about adding a popup when the user taps Back? It could explain how to continue the survey. Also, maybe pause the timer.

[2022-03-14 11:34] RichardFoxBC opened #129 "Timed Count with zero sightings"
Is it possible to submit a timed count with no sightings? I feel that it should be and the app submitted one for me but it has not come up in iRecord @DavidRoy

[2022-03-14 11:37] kazlauskis commented on #127
@RichardFoxBC sure, what would you like the Finish popup to say?

[2022-03-14 11:40] kazlauskis commented on #129
Submitting an occurrence with the 0 count sets a `zero_abundance=true` to it. I think, this shows up as a crossed-out entry in the verifiers list but not sure if comes up in other reports.

[2022-03-14 11:45] RichardFoxBC commented on #127
@kazlauskis "Are you sure you want to finish this timed count?" Then give options for "Yes, finish count" and "No, continue count"
Does that sound ok?

[2022-03-14 11:54] RichardFoxBC commented on #121
Yes good ideas @kazlauskis - pressing Back should pause the Timed Count timer - would it also stop tracking the area searched? Pop-up could read "To resume your timed count, select My Records at the bottom of the screen and then tap on the relevant count"

[2022-03-14 11:57] kazlauskis commented on #125
Currently, this view doesn't reflect the verification statuses, only shows the walked trail and where the occurrences have been recorded for a given survey. I agree it would be good to change the colour these map markers too. We'll see how much work there is to do that.

[2022-03-14 11:58] RichardFoxBC commented on #124
Just to confirm that the app is now prefilling the temperature data for me. I'll close this issue but create a new one (for the future about exploring a UK weather API

[2022-03-14 11:59] #124 closed

[2022-03-14 12:00] RichardFoxBC opened #130 "Use UK-focussed weather API?"
The weather API used shows some differences from the Met Officer one. Explore using a more UK-focussed weather API to improve accuarcy of weather data autofilled in Single Species Timed Count mode

[2022-03-14 12:17] RichardFoxBC commented on #129
This record has now come through in iRecord with all of the correct details.

[2022-03-14 12:18] RichardFoxBC commented on #128
I've now checked and the correct duration does appear in iRecord, so it seems that it is only the display within the app that needs to be corrected

[2022-03-14 12:39] kazlauskis commented on #129
@DavidRoy at the moment, we don't set any abundance value for either `zero_abundance` or actual occurrences. In the app we count the number of subsamples to report on the total species number in the list. We nevertheless can add a default abundance=1 for normal occurrences and abundance=0 for `zero_abundance` ones if it helps?

[2022-03-14 12:44] DavidRoy commented on #129
ok, that makes sense.  Let's leave for the time being until we can discuss options and the iRecord report/download requirements.  I'll close this for now to reduce clutter

[2022-03-14 12:44] #129 closed

[2022-03-14 12:47] kazlauskis commented on #121
Thanks. Yes, we can stop the area tracking too. I would like to wait to see how much other work there is to finalise the Beta first before committing to this but we can definitely add the popup with the text now.

[2022-03-14 15:57] RichardFoxBC opened #131 "Defining polygon for timed count"
Another comment from a tester:

"When wanting to draw an area rather than let GPS plot your route, its not obvious that you cant use that function without turning off the GPS slider. So I wonder if its worth adding after 'Please draw area on map (turn off GPS)'"

My first thought is that we need some more info for users that it is even possible to do this. This could be via a FAQ, but I do wonder

[2022-03-15 07:15] kazlauskis commented on #131
The trail editing functionality can be fiddly and ideally users wouldn't need to use it and rely on the GPS instead. So I've got mixed feelings about advocating the manual drawing functionality to every user. I agree, it would be good to add something to the FAQ though. If you draw a line and then turn on the GPS tracking then it will continue adding a trail from the last point on the map that you

[2022-03-18 16:05] RichardFoxBC opened #132 "Amendment to Credits page"
Please add Ryan Davies to the credits for photo cutouts that appears at the end of the list of photographers. It should read "Finally, thanks to Andrew Cooper, Ryan Davies and Anthony...."

[2022-03-18 16:50] RichardFoxBC opened #133 "New FAQ for Single Species Timed Count"
Please add a new FAQ. This should appear after "What if I'm not sure which species it is?" and before "Will my single species timed count contribute to the UKBMS".

Text to follow shortly, once Ian and I have agreed a draft.

[2022-03-18 16:57] RichardFoxBC opened #134 "Confusion species timed counts"
Are we happy to go ahead without the planned addition of extra categories for confusion species? We had discussed the need for this previously. Basically, as I understand it (@DavidRoy correct me if I'm wrong), if someone selects Pearl-bordered Fritillary from the single species timed count selection, the count page should show three species entries, each of which can be counted: Pearl-bordered Fr

[2022-03-18 17:17] DavidRoy commented on #134
@RichardFoxBC yes, this would be the next priority
@kazlauskis can you advise when you could fit in this next requirement and do you have enough detail

[2022-03-21 08:21] kazlauskis commented on #134
This is for two species, is that right?

- **Pearl-bordered Fritillary** = [Pearl-bordered Fritillary, Small Pearl-bordered Fritillary and 'unidentified PBF/Small PBF']
- **High Brown Fritillary** = [High Brown Fritillary, Dark Green Fritillary and 'unidentified HBF/DGF']

Which warehouse IDs 'unidentified' options map to?

[2022-03-21 09:04] DavidRoy commented on #134
@kazlauskis remind me of the taxon list ID we use for the app.  I'll add the aggregate taxa needed for PBF/Small PBF and HBF/DGF

[2022-03-21 09:44] RichardFoxBC commented on #133
Here's the text that Ian and I have come up with. Feel free to check @DavidRoy

Title: How to do a single species timed count

Text: Single species timed counts are important for measuring change in butterfly populations, especially for threatened species. To carry out a timed count, hold the green 'Record' button to reveal different recording modes and select the option. Choose the species and th

[2022-03-21 09:44] kazlauskis commented on #134
You've set the species ids to the UKSI list (id=15).

[2022-03-22 09:50] RichardFoxBC commented on #122
This is working now for me in the new Beta. @DavidRoy could you just check that you can see dates for all your previous records in the My Records map view please? If so, we can close this issue

[2022-03-22 09:52] RichardFoxBC commented on #121
@kazlauskis This popup doesn't seem to be in the new beta. Is it going to be implemented before the release?

[2022-03-22 09:52] RichardFoxBC commented on #123
Hi @DavidRoy - has this been resolved?

[2022-03-22 09:54] #127 closed

[2022-03-22 09:55] #125 closed

[2022-03-22 09:57] #131 closed

[2022-03-22 10:01] kazlauskis commented on #121
We haven't added the popup yet. We'll add the text but won't stop the GPS or the timer for now. We could do those in the next update though - please create separate tickets.

[2022-03-22 10:05] kazlauskis opened #135 "Remove the note in the stats page"
We can leave it but it makes sense to prioritise some stats page updates for the next milestone 🙂

![image](https://user-images.githubusercontent.com/7383162/159456066-8b200ffa-11fd-4997-a660-d89296fce277.jpeg)

[2022-03-22 10:14] DavidRoy commented on #122
All good, thanks

[2022-03-22 10:14] #122 closed

[2022-03-22 10:18] DavidRoy commented on #123
No, we won't be able to work on this till after the end of March.  I also think the extra survey information is of most use to the UKBMS to a key additional requirement is integrating within UKBMS reports?

Let's leave this issue open but we might raise other related issues

[2022-03-22 11:05] #128 closed

[2022-03-22 11:08] DavidRoy commented on #134
@kazlauskis here are the new aggregate taxa
PBF/Small PBF = 544542
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/544542

HBF/DGF = 544546
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/544546

[2022-03-22 14:55] DavidRoy commented on #97
@kazlauskis I've sent you the update to the likelihood file that strips out the non-adult data using the rules defined by Richard

Please close again when you've integrated the update

[2022-03-23 07:54] #133 closed

[2022-03-23 07:57] #126 closed

[2022-03-23 08:17] #121 closed

[2022-03-24 16:56] RichardFoxBC commented on #132
Many apologies. We also need to add Ian Middlebrook (Butterfly Conservation) to the first section of the credits after Anthony

[2022-03-25 14:41] RichardFoxBC opened #136 "Pause timed count when use Back button"
If leave an active timed count e.g. by pressing the Back button, then the timer should pause

[2022-03-25 14:45] RichardFoxBC opened #137 "Amendments to the About text"
The About text needs to be amended at some point to reflect the inclusion of day-flying moths in the app. I've highlighted my suggested changes in red below:

[2022-03-28 08:38] #132 closed

[2022-03-31 13:32] RichardFoxBC opened #138 "Map of user records not pulling multi-species lists"
Hi, not urgent, but just to let you know that I've found that in places where in the past I've submitted a species survey with a number of species recorded, the app map is only displaying one species.

[2022-04-04 11:50] DavidRoy commented on #123
@RichardFoxBC were the columns not present in the download, or the values not populated.  The configuration for obtaining all the survey-species attributes is to explicitly select the survey, e.g. this configuration
![irb single-species timed count](https://user-images.githubusercontent.com/2699478/161537842-c27acffc-d127-4eff-89c4-c6a2ee3317f4.png)

[2022-04-04 14:19] RichardFoxBC commented on #123
Hi David,

The columns are there but are empty. Here is a download of a dummy single-species timed count that I just created
[download-624afdbf9ceee5.99147904.csv](https://github.com/NERC-CEH/irecord-butterflies-app/files/8410452/download-624afdbf9ceee5.99147904.csv)
.

[2022-04-04 14:35] RichardFoxBC opened #139 "Back button from Single-species timed count"
Hi, I've just noticed that when you look at an **uploaded** single species timed count e.g. to see the verification status of each sightings within it, when you tap "Back" to go back to the main My records page, it comes up with the "Leaving survey" popup warning re resuming the count. I don't think it should do that when the count has already been uploaded.

[2022-04-05 06:03] Vilius-Stankaitis commented on #139
@RichardFoxBC Hello, I will hide the popup when the survey is uploaded. Thank you for finding this.

[2022-04-05 07:08] Vilius-Stankaitis commented on #138
@RichardFoxBC Hi, we need to add marker clusters. Would something like that be okay?

![Screenshot 2022-04-05 at 10.04.37.png](https://zube.io/files/nerc-ceh/e0dd5636b08b95f2ffcd7aa6b31ad32c-screenshot-2022-04-05-at-10-04-37.png)

[2022-04-05 08:22] RichardFoxBC commented on #138
Hi @Vilius-Stankaitis Yes that would be great! Just a marker with the number of species given (as in the left-hand example above) would be good. Many thanks

[2022-04-05 08:25] DavidRoy commented on #138
@RichardFoxBC The only issue with the left hand option is where a list has a mix of verification statuses?

[2022-04-05 08:38] RichardFoxBC commented on #138
True but then you'd have to click on it to see them. If there are 20 species on the list then there isn't any easy way of showing that info on the map, I'd suggest. especially if it is an area that the participant visits regularly and has many such lists all occupying very similar space on the map. One option would to be to have a different colour to indicate a mix??

[2022-04-05 08:50] DavidRoy commented on #138
Agreed.  With the simplest option to go for the left hand map option but with a different colour.

[2022-04-05 08:57] DavidRoy commented on #123
Thanks for confirming.
@johnvanbreda - can you pick this issue up, following our meeting yesterday. The missing attributes are shown via the record view, e.g.
https://irecord.org.uk/record-details?occurrence_id=24818631

but missing from downloads.  Perhaps the ElasticSearch is not picking up all the sample/sub-sample attributes?

[2022-04-05 09:02] kazlauskis commented on #138
The mockup above shows the cluster approach where the 3 overlapping occurrences are shown as a bubble with a number (left pic). Tapping that bubble would expand it to the 3 actual occurrences with own verification colours (right pic). [Here is a playground](https://codepen.io/mgd722/pen/NjJNpr) to see how this would work.

This solution might not be ideal where there are many overlapping occurrenc

[2022-04-05 09:16] RichardFoxBC commented on #138
Thanks for all this. I would favour keeping the map view simple. I'd be happy for a Species list (i.e. several species recorded at the same place/time) to be represented as a dot, just the same as an individual sighting but that when you tap on it, all the species records can be viewed as per Karolis' final example above. If all the records in such a list have the same verification status then the

[2022-04-05 09:31] kazlauskis commented on #138
OK, so I understand you don't want to group occurrences per survey/list and just to show previous/next buttons that navigate through all the overlapping occurrences from multiple lists, is that right?

[2022-04-05 09:41] RichardFoxBC commented on #138
Not sure that we are talking about exactly the same thing. I'm specifically referring to sightings submitted using the "Species list" function of the app. At the moment the map is only picking up from iRecord a single species from such lists and it should pick up all of them. The "Species list" submission can be shown on the map as a single dot (just the same as if it was a single species occurren

[2022-04-05 10:27] kazlauskis commented on #138
Thanks. Technically speaking, the map does show all the species (occurrences) from lists, but they overlap and are stacked one on top of the other at the moment. So you can only see one dot and tapping it opens whatever the species occurrence from the list is at the top of that stack. We can group the same occurrences to one dot. This requires some work on the ElasticSearch database report.

If we

[2022-04-05 10:43] RichardFoxBC commented on #138
That all sounds good Karolis. Many thanks

[2022-04-05 10:46] DavidRoy commented on #138
Agreed.  @kazlauskis can you create an issue for the requirement for a new ES report to support this way of viewing the list records via the map interface

[2022-04-05 11:06] kazlauskis opened #140 "Add sample ID to ElasticSearch occurrences output"
Currently, fetching `services/rest/es-occurrences/_search` doesn't include the occurrence's parent sample ID in the output. For us to be able to link the occurrences we need a parent sample ID included.

Links to #138

[2022-04-05 11:07] kazlauskis commented on #140
@johnvanbreda to advice if this is doable.

[2022-04-05 11:09] kazlauskis commented on #140
I have found `event.event_id` might be linked to sample ID, but not sure if this is that.

[2022-04-06 09:10] johnvanbreda commented on #140
Correct - event.event_id is the sample ID, and event.parent_event_id is the parent sample ID. See https://github.com/Indicia-Team/support_files/blob/master/Elasticsearch/docs/occurrences-document-structure.md for the full list.

[2022-04-06 09:21] kazlauskis commented on #140
Great, thanks for the documentation! Closing this now.

[2022-04-06 09:21] #140 closed

[2022-04-06 09:32] johnvanbreda commented on #123
I've confirmed that for the example record, the Elasticsearch index is correctly populated. The download is also correct for the attributes that are at the sample or occurrence level, but the code which automatically includes sample attribute columns for the selected survey does not utilise the attribute values stored in the parent sample, which is why the columns are blank.

Now looking at the co

[2022-04-06 11:04] johnvanbreda commented on #123
@RichardFoxBC can you try now please?

[2022-04-06 11:15] RichardFoxBC commented on #123
Hi @johnvanbreda - many thanks for looking at this. It is getting there. Still missing is %cloud, which needs to be calculated from the % sunshine value collected by the app (i.e. % cloud = 100 - % sun). By the way @kazlauskis I'm not sure that the app is correctly gathering % sun from the weather api - it seems to always be set at 1% in the tests that I've carried out.

Also missing are any abund

[2022-04-06 11:20] DavidRoy commented on #123
@kazlauskis it makes sense for you to submit both the %cloud and %sun figures from the app, rather than have a process at the warehouse end.  I'll raise a separate issue for this

@kazlauskis for the abundance value of 1, I think this is also something for the app data submission.  You do this for the ButterflyCount survey but not the iRecord Butterflies single-species timed count survey?  I'll al

[2022-04-06 11:21] DavidRoy opened #141 "Submit %cloud and %sun values from single-species timed count survey"
links to NERC-CEH/irecord-butterflies-app#123
submit both the %cloud and %sun figures from the app, rather than have a process at the warehouse end

Check that the app is correctly gathering % sun from the weather api - it seems to always be set at 1% in tests carried out.

[2022-04-06 11:24] DavidRoy opened #142 "Submit abundance=1 for each occurrence within a timed count survey"
links to #123
Occurrences submitted with abundance = 1 for each occurrence within a single-species timed count survey

[2022-04-07 07:02] #139 closed

[2022-04-07 07:04] kazlauskis commented on #123
@RichardFoxBC we have checked your test records that you've send with the 1% sun and these have been captured in a similar place at similar time. Looking at the historical weather data this figure is right.

[2022-04-07 07:04] #123 closed

[2022-04-07 07:04] #142 closed

[2022-04-07 07:19] #141 closed

[2022-04-25 10:14] RichardFoxBC opened #143 "Stats not reporting correctly"
Hi all, I've been using the app quite a bit over the last couple of weeks and it is working well. It is really nice to see the notifications of record verification coming in. However, I noticed that the Records (2022) and Species recorded (2022) statistics are not reporting correctly for me. They seem to be stuck and are not advancing despite having made more records and seen new species.

[2022-04-25 10:19] RichardFoxBC commented on #143
It may be related to the above but I've also not received any of the pop-up Thank You messages that are meant to appear after the submission of certain numbers of records each calendar year.

[2022-04-25 10:20] kazlauskis commented on #143
Yes, there is an issue with the website report.

The user stats report emits [this error](
https://irecord.org.uk/admin/reports/dblog/event/53768). I can reproduce this by logging into the iRecord Butterflies app and going to the user stats page. It strangely works for some accounts.
[code]

@johnvanbreda would you be able to take a look at it?

[2022-04-25 10:33] RichardFoxBC opened #144 "app running slow in Android"
Hi, not sure there is much you'll be able to do with this info, but feedback from a user:

"The App is very to slow to load & also a lot slower within the map location it hangs for quite a while."

[2022-04-25 10:35] kazlauskis commented on #144
What is user's device, Android and the app version?

[2022-04-25 10:43] RichardFoxBC commented on #144
I'll ask

[2022-04-25 14:41] RichardFoxBC commented on #144
Hi @kazlauskis  The user has a LG K7 phone. Android version screen shot attached. They are using the most up-to-date version of our app v2:3.1 (171)
![Android version](https://user-images.githubusercontent.com/36193573/165112571-ab7f5162-726d-4262-b221-7b77f8c29319.png)

[2022-04-25 15:19] RichardFoxBC commented on #143
@kazlauskis @johnvanbreda  confirmed the stats are now reporting correctly in the app for me. Many thanks.

@kazlauskis do you think the lack of pop-up thank you messages is related? My app now tells me that I've submitted 51 records in 2022 but I haven't had any pop-up thank you messages.

[2022-04-26 06:21] kazlauskis commented on #144
Thanks, according to the [device spec](https://www.lg.com/us/cell-phones/lg-K330-Silver-k7) it has only 1.5Gb or RAM. The app requires a minimum of 3Gb (ideally 4Gb) to function properly. It was a low-end device even in the 2016 when it was originally release  and now it is simply too slow even if it runs the latest Android.

[2022-04-26 06:21] #144 closed

[2022-04-26 06:29] kazlauskis commented on #143
Thanks John.

@RichardFoxBC yes, the "Thank You" alert depends on this report so it should be working fine now. Please reopen the issue if this still doesn't appear to you.

[2022-04-26 06:29] #143 closed

[2022-05-17 16:09] DavidRoy opened #145 "Multi-species timed count survey"
New survey type
Extend the single-species timed count survey to enable a list of species to be recorded, with detailed occurrences.  Similar to ButterflyCount survey

[2022-05-25 08:07] andrewvanbreda commented on #107
Hi @kazlauskis
NPMS Drupal 9 has been live for about a month or so now, but I have only just got round to this issue.
We can perform this test anytime you are available to do so.
What will need to happen is for us to create a fake NPMS account including all the address fields, and you fire the deletion of that account from the app, I will observe if my easy_login code clears the correct data on th

[2022-05-26 06:16] kazlauskis commented on #107
@andrewvanbreda thanks. From the app perspective, it just needs some website endpoint to call to start the delete process. Does it have one?

[2022-05-26 09:54] andrewvanbreda commented on #107
Hi @kazlauskis
Do you mean the Indicia API? That is installed and here is an API key I can mail you if you needed. That is just the key the app is currently already using.
I don't really know too much about the workings of that area beyond that. Biren might know more if needed.

[2022-05-26 10:11] kazlauskis commented on #107
I understand, you have added some code to the easy_login module that will wipe users data from the warehouse and remove the account, is that right?

I think, we should create a new module that has an http endpoint for the app to call. All this module would do is simply check the request comes from an authenticated user and then call the easy_login delete function for that user. How does that sound

[2022-05-26 10:19] andrewvanbreda commented on #107
@kazlauskis
Yes at the moment that is what NPMS does.

However the final generalised version will need extra options available which haven't been discussed yet.
For instance, does the data get wiped on cancellation or delete. So there needs to be extra options the administrator sets.
So the app I think will need to fire whatever understands those options, but that bit isn't done yet

As NPMS doesn

[2022-05-26 10:37] kazlauskis commented on #107
No problem. Drupal 9 already has a native user account cancelation endpoint so that I don't necessarily need to create another module if your easy_login deletion is triggered with the `hook_user_delete` hook. If it doesn't yet, can it execute using the hook?

[2022-05-26 11:03] andrewvanbreda commented on #107
Hi @kazlauskis
Yep that is the way it works.
easy_login_user_delete is fired

[2022-05-26 11:08] kazlauskis commented on #107
Excellent, in that case it shouldn't matter if this hook is executed when deleting an account using the UI or a REST endpoint. If your code is set up now then I can delete some account using the REST, just let me know what account you'd like me to delete.

[2022-05-26 11:27] andrewvanbreda commented on #107
Hi @kazlauskis
This one
Drupal username Andrew van Breda NA207
Drupal user ID 5057
Warehouse user id 192392
Warehouse person id 195276

[2022-06-08 10:29] kazlauskis commented on #107
@andrewvanbreda I would have to include the in-app account deletion in order for me to update the apps past the June 30th. Do you know if we could add your new functionality to the iRecord site now?

[2022-06-08 12:01] andrewvanbreda commented on #107
@DavidRoy @kazlauskis
At the moment I don't think it is generalised enough to put on this second.
I was hoping to discuss what options would be needed with David.
However I can put this at top of my To Do list, fix the remaining niggles ,and add some options I think we need (such as options for when the data is cleared....on cancel, on delete, on both etc)
Then I could hot-feature it with john's r

[2022-06-08 12:33] andrewvanbreda commented on #107
Hi @kazlauskis

Hi,

So looking at iRecord, I think the only thing that needs to be on there is the bit that on user account deletion sets the warehouse email address to a fake generic one.
That code works on NPMS, so in an emergency I could rush it onto iRecord quite quickly if needed.

However it would be nice to finish off the bits such as options first.

So I guess my 2 questions to you are:

[2022-06-08 13:26] andrewvanbreda commented on #107
OK, I will do this ASAP, but useful to know it doesn't have to be this afternoon.

[2022-06-08 13:41] kitenetter commented on #107
As far as I'm aware there are no additional iRecord attributes that need clearing in the warehouse, it is just the email address.

However, what happens if a user is registered on multiple websites, but then wants to delete their account from an app - does this mean their email address in the warehouse will get rmoeved and that therefore they will lose any link to other websites that they may wish

[2022-06-08 14:21] kitenetter commented on #107
I'm possibly opening a can of worms here, but Indicia does store additional personal attributes for some users from some websites/surveys/forms (as shown in table person_attributes). These appear not to get marked as deleted when a person is deleted. Also, even when marked as deleted all the information remains in the database, albeit hidden from normal users, We may need to review this, but I don

[2022-06-08 14:29] andrewvanbreda commented on #107
Hi @kitenetter ,
I think the person attributes on the forms are for people who haven't registered anyway (like their name, email) Although would be interested to know if you think that isn't the case.

The code I have written is to remove the data from the Warehouse database, it currently does this for NPMS.
It does the following when a Drupal account is deleted

1. Set the email address in the wa

[2022-06-08 14:30] andrewvanbreda commented on #107
@kazlauskis @DavidRoy @kitenetter
No the email address is only cleared if it is the last one, the system already handles that for NPMS

[2022-06-08 14:46] kitenetter commented on #107
Sorry @andrewvanbreda I'm not sure what your latest comment above applies to - what do you mean by "the last one"?

Do you mean that the email address in the warehouse is only cleared (set to <person.id>@siteaddress) if there is only one website linked to it?

[2022-06-08 15:13] kitenetter commented on #107
Thanks @andrewvanbreda that's made it clearer for me.

The legacy issue is part of a wider debate around how we can enable users to have more control over their accounts, e.g. when they want to change email addresses or surnames etc. We need to address that at some point but I don't think it is a problem for the immediate app delete issue.

My only remaining concern is that I don't think app users

[2022-06-09 09:11] #91 closed

[2022-06-09 09:56] kazlauskis commented on #73
Do you think we should automatically identify new attached photos or should there just be a manual 'ID help' button? In the ButterflyCount we automatically ID pics but if there isn't a network connection at a time then users can also manually trigger the auto-identification later.

[2022-06-09 10:24] DavidRoy commented on #73
Just a manual ID help button for this app, thanks

[2022-06-13 07:29] kazlauskis commented on #107
@andrewvanbreda, what happens to user accounts on the other linked sites after the deletion? Are these also deleted? If not, then what happens if a user tries to upload a record from those sites?

Also, the current Drupal 8+ API endpoint (**DELETE** `HOST/user/ID`) that allows deleting a user account won't support the "multi-site prompt". Are you or John would be able to implement some means for t

[2022-06-13 08:24] DavidRoy commented on #107
@andrewvanbreda please go ahead with your plan discussed with John, and including Karolis' request.  This functionality will be used across all websites and apps so needs to be robust

[2022-06-13 09:00] andrewvanbreda commented on #107
@kazlauskis
In answer to the first question.
 If they choose clean their data from the other sites, they are advised by the popup to contact the administrator of the site(s) to get their accounts shut down.

As for your request, I will discuss this with John on what is best to do with that, am actually working at his house today so will discuss that with him in person and let you know.

[2022-06-13 09:50] kazlauskis commented on #107
Thanks. I probably have missed some important detail here, but why can't we delete the user website account and the warehouse entries only for that site alone?

[2022-06-13 12:01] andrewvanbreda commented on #107
Hi @kazlauskis
Thanks for the suggestion, yes that could improve things.
It is one of these niggling problems that doesn't feel quite right, I also have another idea I will put to John.
I will get back to you on how to proceed.

[2022-06-13 13:31] DavidRoy commented on #107
Thanks @andrewvanbreda.  I think an email is a good option and makes Karolis' life simpler :-)
There is a risk of the message ending up in junk mail but that's an acceptable risk

[2022-06-13 13:35] andrewvanbreda commented on #107
@DavidRoy
I should also point out that occasions where there would be a problem with the website list should be very rare because we think almost all sites won't currently allow users to cancel their account, only administrators can do it for them, and we don't think that happens much apart from on NPMS

[2022-06-13 13:35] kazlauskis commented on #107
Sounds good to me!

[2022-06-16 08:32] kazlauskis commented on #107
We've received a reminder from Apple about this upcoming requirement. They don't typically do that, so account deletion will definitely be hard enforced from the next month and we won't be able to get away without it. All of our UKCEH apps have account creation linked to various Drupal sites which means this update should be pushed to all of them.

[2022-06-16 08:55] andrewvanbreda commented on #107
@kazlauskis
OK, I have done a fair amount of it. So should be hot-featured by the 23rd, perhaps earlier.

[2022-06-21 09:24] kazlauskis commented on #107
Thanks @andrewvanbreda, I can test the user account deletion for dev/test/live iRecord sites. Since I'll be using the core Drupal API for triggering the deletion process, which is the same as the Drupal account delete run from the website, I doubt there is much that can go wrong there. In other words, I won't be testing the actual warehouse clean-up since I don't really know how that works there.

[2022-06-21 09:33] andrewvanbreda commented on #107
@kazlauskis
OK thanks for your thoughts. That is fine.
So I will consider the test setup such as the ability to send the email.
Will let you know when have progressed, or if there are any hold ups.

[2022-06-22 09:37] andrewvanbreda commented on #107
Hi @BirenRathod
Are you able to point iRecord Dev at the Dev warehouse for us?
It doesn't matter if ElasticSearch isn't working, it is user deletion we will be interested in.
Cheers

Hi @kazlauskis
What is the minimum you need operational to get what you want done right now? as I am thinking of not putting all the code at once onto the site (put the code on, but the SQL bit by bit, when I am 100%

[2022-06-22 09:40] BirenRathod commented on #107
@andrewvanbreda It has not linked with devwarehouse. As I mentioned in the email, you will not see home page but you can access by this https://dev-brc-irecord.pantheonsite.io/user link.

[2022-06-22 09:58] andrewvanbreda commented on #107
Hi @BirenRathod
Are you not able to point Dev iRecord at the Dev Warehouse for us then? In your mail you did say we can link dev warehouse for our testing.
If has to remain attached to live I will have to rethink.

[2022-06-22 10:00] BirenRathod commented on #107
@andrewvanbreda It has linked. wrong typo.

[2022-06-22 10:09] kazlauskis commented on #107
@andrewvanbreda yeah, sounds good!

[2022-06-22 12:35] andrewvanbreda commented on #107
Hi @kazlauskis
OK, I have spoken to John, and what we have agreed is that it is OK for me to commit code that will end up on iRecord live even thought will effectively be a barebones empty code to start with and do nothing apart from log.
Then I will fill it in after.
(i.e. include the easy_login_user_delete but have it effectively do nothing apart from log messages).
At the moment I don't even ha

[2022-06-22 12:49] BirenRathod commented on #107
@andrewvanbreda I have added you on iRecord-Pantheon now.

[2022-06-22 12:50] andrewvanbreda commented on #107
Hi @BirenRathod
Brilliant thanks Biren, you beat me to asking you :)

[2022-06-22 12:58] kazlauskis commented on #107
That's fine as long as the user's Drupal account is still deleted. From my perspective, I am treating this as a black box system (input=REST call, output=success response and a deleted user account).

[2022-06-22 13:41] JimBacon commented on #73
@kazlauskis, with Biren's help, we now have the the Waarneming API module installed on the live iRecord site. (The Waarneming module is pushed to the modules/custom folder via Git. The API Proxy module which it depends on is added to the upstream repo and ends up in the modules/composer folder.)

You will probably need to edit the allowed CORS origins in https://irecord.org.uk/admin/config/service

[2022-06-22 13:41] andrewvanbreda commented on #107
Hi @kazlauskis
Have sent you an email about this.

[2022-06-27 06:44] andrewvanbreda commented on #107
@kazlauskis
Could you let me know which apps you will be updating so I can work out whether I have the necessary access to update their easy_login modules.
Cheers

[2022-06-27 09:17] kazlauskis commented on #107
@andrewvanbreda These are the sites that would be good to install the module. I am unsure if @DavidRoy wants all of these done right now or later when we're updating the apps.
https://irecord.org.uk
https://butterfly-monitoring.net
https://fitcount.ceh.ac.uk
https://esurveyor.ceh.ac.uk (can wait?)
https://dunescapes.brc.ac.uk (can wait?)

@BirenRathod the[ iRecord dev](https://dev-brc-irecord.pant

[2022-06-27 10:07] andrewvanbreda commented on #107
Hi @kazlauskis
Yes you are right, I just tried that on Dev website, and it isn't logging which is weird as it is just hook_user_delete. It was a delete I tried, so no idea how that is failing.
I will try to work out what is wrong.

Thanks for the sites like. Ok, I have access to those apart from the ones with "(can wait?)" next to them. The installation itself should be simple (in theory!) so hope

[2022-06-27 10:51] andrewvanbreda commented on #107
@BirenRathod @kazlauskis
None of the hooks are working, I have tried everyone apart from one suggestion.
That would be to uninstall and then reinstall the Easy Login module which one forum suggested.
Any objections to that?

[2022-06-27 10:57] BirenRathod commented on #107
@andrewvanbreda Please try first on dev & test site. Also, check with @johnvanbreda too.
In general, uninstall and install with any indicia modules is tricky. you can uninstall it but you can't re-install it. It will cimplain about somefields are already exist which will prevent re-installation, so my advice will be if you resolve problem without uninstalling easy_login module would be best.

Did

[2022-06-27 11:00] andrewvanbreda commented on #107
@BirenRathod
Yes all caches were cleared.
I did ask John has seemed to think easy_login would probably be ok. I agree it is problematic, but on dev John thought we can do a DB restore if absolutely needed.
I am happy to wait if anyone else has any other ideas.....I am out of ideas at the moment, I have never seen this behaviour before.

[2022-06-27 11:03] andrewvanbreda commented on #107
I will try to add some logging to the existing functions to make sure that the code is being deployed.

[2022-06-27 11:13] #134 closed

[2022-06-27 11:16] #77 closed

[2022-06-27 11:37] andrewvanbreda commented on #107
@kazlauskis @BirenRathod
I have checked this with John, we added logging via FTP.
The dev site is behaving like it is not actually running the iForm code that on the server, it is old code in some kind of cache, or is getting its code from elsewhere.

It is ignoring deployed code, or code added via FTP even after cache clearance (Drupal, Indicia, and the Pantheon cache clearance button).

@BirenRa

[2022-06-27 12:10] BirenRathod commented on #107
@andrewvanbreda if you code via FTP, you need to put site first into SFTP mode and then update not sure if you have done this. Sometime code added in a wrong place via FTP.
I recon if you use git repo would be great.
I can see your code from Pantheon dashboard, there is nothing which suggest anything wrong. I have attached the screeshot below.
![image](https://user-images.githubusercontent.com/594

[2022-06-27 12:22] johnvanbreda commented on #107
@BirenRathod I did put the site into FTP mode temporarily, so I could save additional temporary logging code that we didn't want to actually commit and if the site is not in FTP mode then I cannot change the files using FileZilla. When I did this, I added a call to \Drupal::logger() to the iform_licences.module file's hook user login code. After testing, we could confirm that the old code in this

[2022-06-27 14:37] andrewvanbreda commented on #107
Also note that it maybe confusing for users, as actually cancelling account does not anonymise it, only delete will (which is given as one of the options on cancel)

@BirenRathod Any thoughts on the problem me and John had.

[2022-06-27 16:10] kitenetter commented on #107
**App message**
I assume that a user could delete their account from the app, and then re-register an account on ther iRecord website, so it's not strictly true to say that access to the website is permanently removed?

So if I'm understanding this correctly, it should say:
- This will remove your account on the iRecord app **AND** the iRecord website; you will lose access to any records that you

[2022-06-27 16:25] BirenRathod commented on #107
@kazlauskis, @andrewvanbreda & @kitenetter That "cancel account" account button is only visible for administrator.

[2022-06-27 16:44] andrewvanbreda commented on #107
Hi @BirenRathod @kitenetter @kazlauskis
Wouldn't that depend on who the permission is enabled for though?, if Karolis is suggesting altering that.

@kitenetter
Account deletion can be thought of as gone forever.
Account cancellation is just a status that can be reversed, hence we don't anonymise the data in that case else we can't reverse it.

[2022-06-27 19:58] BirenRathod commented on #107
@andrewvanbreda Only Administrator has got that permission. So that permission has not assign to any role.

[2022-06-28 06:09] kazlauskis commented on #107
@BirenRathod this 'own account cancel' permission wasn't enabled in the live iRecord site until now. What is the best way to hide the button from users?

[2022-06-28 07:40] andrewvanbreda commented on #107
@kitenetter
Just looking at the comments and realised hadn't responded to your behaviour comment.
If a user deletes their account, they are deleted from both the app and website, the records still have their name on them (as agreed in terms of use) but the records are pointed towards an anonymous account.
They can reregister and can see their records on explore records, but they would not be tied

[2022-06-28 08:16] BirenRathod commented on #107
@kazlauskis yes, I know that it didn't enable. Why do yo want to enable it? if you don't enable it, it will automatically hide from users apart from 'Administrator'

[2022-06-28 08:21] #136 closed

[2022-06-28 08:25] kazlauskis commented on #107
We have to enable this permission to allow app users to delete their accounts. What is the best way to hide it on the website?

[2022-06-28 08:40] BirenRathod commented on #107
thanks @johnvanbreda. That way it will hide for everybody including administrator.

[2022-06-28 09:11] BirenRathod commented on #107
@andrewvanbreda Can you add below function in easy_login module, to hide cancel button for all but not 'Administrator'? We need this for all other websites too like mentioned above.

Something like this ....
function MODULENAME_form_user_form_alter(&$form, $form_state, $form_id) {

      if (!\Drupal::currentUser()->hasPermission('administer users')) {

[2022-06-28 09:44] andrewvanbreda commented on #107
@BirenRathod
OK, I will try to do this

[2022-06-28 09:49] andrewvanbreda commented on #107
@BirenRathod
Is there a solution to the problem where iRecord Dev is not picking up code committed to pantheon yet?

[2022-06-28 09:52] BirenRathod commented on #107
@andrewvanbreda I can't find any problem.  Did you commit code with .git folder or without? it should be without .git folder.

[2022-06-28 09:57] BirenRathod commented on #107
@andrewvanbreda I can see your code when I pulled the repo. What do you want me to check? sorry to ask you again.

[2022-06-28 10:00] johnvanbreda commented on #107
@BirenRathod the problem Andy is having is that although we can see the code in the repository and we can see the code when we examine the files via FTP, the code we changed does not seem to run. There are no log messages being created but the code just after which displays a message does still run - so it seems the old unamended code is still being run for some reason.

[2022-06-28 10:00] andrewvanbreda commented on #107
Hi @BirenRathod
It is the same problem John talked about yesterday, iRecord dev is not picking up code even after cache clearances, copying code over with FTP.
It can be present on FTP, in Pantheon Dashboard..........but it is still never run by iRecord Dev. Still looks like it isn't working today.

John wrote this yesterday

I did put the site into FTP mode temporarily, so I could save additional

[2022-06-28 10:21] BirenRathod commented on #107
@andrewvanbreda What I suggest is that restore dev website with live site first and see if that is the same problem. Do you want me to do that or can you do it by your self?

[2022-06-28 10:35] #73 closed

[2022-06-28 10:39] andrewvanbreda commented on #107
@johnvanbreda
Do you have any thoughts on doing that? I am have only just joined iRecord on Pantheon the other day, I do not have enough experience of your workflow to say what would be a good or bad idea?

[2022-06-28 10:44] johnvanbreda commented on #107
It's not a problem for my workflow if the dev site is an exact copy of live.

[2022-06-28 10:45] BirenRathod commented on #107
Thanks @johnvanbreda & @andrewvanbreda. I'm doing it now.

[2022-06-28 11:10] kazlauskis commented on #107
Yay, we have made it to 100 comments 🎉 😄

@andrewvanbreda @johnvanbreda would the warehouse REST reject requests from a deleted user? After deleting the user account, there might be a rare scenario where a user's JWT token might be still valid on some devices - if logged in on two devices and deleted account on one of them, or logged in in the app but deleted on the site. I don't think this is lik

[2022-06-28 12:53] andrewvanbreda commented on #107
@kazlauskis
Have noted your comment to look at when I go to John's house tomorrow.
+1 to the comments total :)

[2022-06-28 14:46] BirenRathod commented on #107
@andrewvanbreda I have reverted your code and resubmitted including some style change. The amendments I done for style works fine. Can you check if your code works too?

[2022-06-28 15:09] BirenRathod commented on #107
@andrewvanbreda The problem is not with your code but in general logging is not showing due to config done in dev-brc-irecord.pantheonsite.io/admin/reports/dblog-filter

[2022-06-28 15:14] andrewvanbreda commented on #107
@BirenRathod @kazlauskis
Thanks Biren......good detective work. I have switched on notices in the log.
I switched on notices and can see the warnings now.

Karolis, I think you should be able to see the message now when you delete an account.

[2022-06-29 06:40] andrewvanbreda commented on #107
Hi @kazlauskis,

Could you let me know when you need my code to be actually running on live, and the website easy_login code deployed to the websites and I will work to that.
My task list is
- Test the changes I have made after John's review.
- See the website membership email is sent (probably on dev warehouse)
- Get code deployed to live
- Deploy easy login (should be easy, although I don't have

[2022-06-29 07:07] kazlauskis commented on #107
@andrewvanbreda I have tested the dev site user deletion from the app and can now see the logged messages. It would be good if you could deploy this to live 👍

If you can update these other sites then it would be great, if not, then it would be good to have the option to use your help when we're again working on those projects.

[2022-06-29 07:20] andrewvanbreda commented on #107
Hi @kazlauskis
I need to work out when I am going to aim to put this on live.
There is a balancing act of doing it sooner to meet any needs you have, but also
the longer I leave it the more testing can be done and need to rush John less to help me deploy things.
Presumably you need to put the new version of the apps on the stores, how does that work, is there a time delay for that?
Or does it go s

[2022-06-29 07:22] BirenRathod commented on #107
@andrewvanbreda email will not work on dev as it has disabled on it.

[2022-06-29 07:24] andrewvanbreda commented on #107
@BirenRathod
What Warehouse is it enabled on?

@kazlauskis
Do you want the log messaging put onto iRecord live?

[2022-06-29 07:26] kazlauskis commented on #107
If you could push the current code that only logs the action to live site, then this will still delete the user site account and fulfil Apple's immediate requirement. Then you can do some more testing (a few weeks?) and release the full version to live. How does that sound?

[2022-06-29 07:27] BirenRathod commented on #107
@andrewvanbreda it enabled on any warehouses but not on iRecord dev/test site.

[2022-06-29 09:07] andrewvanbreda commented on #107
@BirenRathod That is ok, thanks for letting me know,  the email is sent by the warehouse.

@kazlauskis Am now confused.
As far as I am aware the workflow is this
- Your code fires a delete of a user which removes them from app and website
- That causes easy_login_user_delete to fire
- Which fires warehouse anonymisation code

If you are saying we don't need that anonymisation to work yet then actu

[2022-06-29 09:22] kazlauskis commented on #107
Yes, the user account is deleted at the moment, and your module logs a message. Ideally, the automated warehouse cleanup works from day one, but I doubt there will be any Beta users deleting iRecord Butterfly accounts over the next few weeks, so you have some more time to test it.

[2022-06-29 09:41] andrewvanbreda commented on #107
Hi @kazlauskis
OK thanks for letting me know.
I should be able to do this,  I still have some tasks to do but it is not weeks worth. So I want to get this live in time for when your app changes are live.
Am I correct in saying the app changes need to be live by end of tomorrow according to the requirement?
So I just need to know how long before then I need to get this onto the live Warehouse to me

[2022-06-29 11:27] kazlauskis commented on #107
I am planning to release a new app version for Beta testing this Friday. I am not sure if this new requirement also applies to Beta releases or live ones only. We will be testing the app for 1-2 weeks so if you could get the current module functionality live today and the full module by the end of next week then it would be great. Thanks

[2022-06-29 11:58] andrewvanbreda commented on #107
@kazlauskis
Righto.
John has just said the warehouse changes are fine to merge.
The easy_login.module code including the cancel button hide is also running on my machine now.
So we are now in a position to start moving things onto systems at BRC. Will do dev warehouse first.
Will let you know how I get on.

[2022-06-29 12:37] andrewvanbreda commented on #107
Hi @kazlauskis @kitenetter
Just talking to John about the practicalities of deploying the hiding of the cancel account button on the website.
It works, but it is actually problematic to commit as it would be used across several projects but we don't want it to be part of general Indicia code.
Then the problem becomes that the change would be overwritten by iForm updates.
Is there any practical par

[2022-06-29 16:44] andrewvanbreda commented on #107
@kazlauskis @kitenetter
I think that would be better because then it could just be part of iRecord's stylesheet.
I have been a bit delayed because I realised some code from an older version of what I had been doing had been left out of the newer version when I reworked some of it. Sorted now, but John needs to recheck it, so I do not know who much of a delay that will be at moment.

[2022-06-29 16:58] kitenetter commented on #107
**Website user account cancel button**
In principle I think it is a good idea to have this on the website, and give users control over their own accounts. But I have two concerns:

1. The point raised by @andrewvanbreda about what would happen "if [a website user] deleted the website account but left a hanging app account" - can we prevent that from happening?

2. We will need to make it clear to

[2022-06-29 17:37] kazlauskis commented on #107
User tokens issued by the site and stored in the app are renewed every 24hrs. If the account is deleted on the site then `app ←→ website` interactions like site reports would stop immediately. It is unclear to me about the `app ←→ warehouse` interactions but, hopefully, Andy and John can look into this. After the token expires in the app it will auto-logout the user.

[2022-06-29 22:41] andrewvanbreda commented on #107
Hi @kazlauskis @kitenetter

In terms of the app->warehouse interaction after deletion, perhaps this needs a real-world test.
If they are still able to login to the app some time after deletion of a website account, the following may happen (I think).
As we only anonymise the email address. but never delete the person, it may be that the app will continue to record samples against the person, even

[2022-06-30 05:40] kazlauskis commented on #107
I think this will be enough to prevent further survey uploads. As you say, we'll give it a test once it is all set up.

It isn't necessary, the app can already delete the site accounts without the module.

[2022-06-30 06:58] andrewvanbreda commented on #107
@kazlauskis @kitenetter
I realised something this morning. NPMS decisions are also partially made by Plantlife so they may not want the Cancel button to show on NPMS either. The decision was already not to allow that a while ago (NPMS already has a different type of smaller scale anonymisation)
Also I realised we may need way to deal with this in Indicia, because if any site ever has an app with a

[2022-06-30 09:23] andrewvanbreda commented on #107
@kazlauskis
I am just about to put a small version of the changes to easy_login onto iRecord DEV.
Your log messages will still be displayed, but be aware this will fire anonymisation code on the DEV Warehouse.
Importantly this will also mean any users you delete from the app in a test will potentially send an email to that user (depending on the situation).
So you'll want to avoid deleting real ac

[2022-06-30 10:17] andrewvanbreda commented on #107
@kazlauskis
Am going to go ahead with what I just mentioned as need to do testing with John while I am at his house.

[2022-06-30 10:40] johnvanbreda commented on #107
@kazlauskis

I'm adding a simple test for the whole user deletion code to the PHPUnit tests. It will check that the REST Api will return 401 Unauthorized for any requests after the user delete code has been called. That was the case already, except there was caching meaning the users_website entry wasn't being checked so it would have accepted records for a short while. I'm now adding code to clea

[2022-06-30 11:40] andrewvanbreda commented on #107
Hi @DavidRoy @kitenetter

Could you let me know what you would like to go in the email sent to users which describes the other apps/sites they are a member of after they have left a site.
Currently I have just commited an example config file which is usual procedure, but it will need filling in properly for live

The configuration options are

1. The sender email address

2. The subject line (can

[2022-06-30 12:05] andrewvanbreda commented on #107
Hi, @BirenRathod
Can I confirm something. I am deleting an account on iRecord DEV which fires code on the DEV warehouse which sends an email using SWIFT. However I did not receive the email, should I have expected that to work?
The following is a slightly simplified version of the code for clarity.
It does reach the line and fill in the details ok as I got John to put in some logging, it is just t

[2022-06-30 12:22] BirenRathod commented on #107
@andrewvanbreda I have re-activated the SMTP module temporary on dev irecord site.

[2022-06-30 12:32] andrewvanbreda commented on #107
@BirenRathod Thanks Biren, I will let you know once done.

[2022-06-30 13:54] andrewvanbreda commented on #107
@BirenRathod Thanks Biren, we have seen it working now, so you can remove any options you enabled.
The problem was actually the sender needed to be devwarehouse.

@kitenetter
Me and John have come up with a template for the email, it looks like this

<img width="539" alt="Screen Shot 2022-06-30 at 14 52 00" src="https://user-images.githubusercontent.com/2463614/176695311-e55d9432-67a0-40bf-83fe-4e

[2022-06-30 15:24] kitenetter commented on #107
@andrewvanbreda I think that wording is generally fine, but I might request a few details to change depending on the answers to the following questions.

Let's assume that I am a recorder with accounts registered on the iRecord app, the iRecord website, SPLASH, Earthworm Watch, NPMS and CEDaR. I delete my account from the app. I am then warned that this will also make my records on iRecord inacces

[2022-06-30 15:38] andrewvanbreda commented on #107
Hi @kitenetter
The email in the Warehouse is only set to anonymous if there are no other websites left.

As you are removed from iRecord, you will no longer receive notifications that are linked to iRecord occurrences.
This is because we repoint these notifications to the special anonymous user account.

You would not be able to login to the website, as deleting the account from the app also remov

[2022-06-30 15:41] kitenetter commented on #107
Thanks @andrewvanbreda - so am I correct that users who delete their iRecord account but have accounts on other websites will still receive notifications about their iRecord records?

If so we should make that clear in the email that goes out.

[2022-06-30 16:00] andrewvanbreda commented on #107
@kazlauskis @kitenetter
I just discussed with John about the deletion from one app but not the other question.
The answer is this would delete the user's central iRecord account.
So this just needs to be clear to the user during app deletion.
The other app with report unauthorised if they are already logged in, and  I think they wouldn't be able to login anymore if they were logged out.

In answer

[2022-06-30 16:07] andrewvanbreda commented on #107
@kitenetter
Actually just thinking, I think that would have to be a directly response to the email address, as I think the notification email modules wouldn't know the user's email address anymore because their account isn't attached to the occurrence.

[2022-06-30 16:46] kitenetter commented on #107
@andrewvanbreda if a verifier accepts a record on iRecord, the recorder would normally receive a notification (unless they had switched their notifications off). Is that notification sent to the email address in the warehouse, or the email address in their Drupal account - I thought it was the email in the warehouse?

If it is the warehouse, and if the person has not been anonymised (due to having

[2022-06-30 16:56] johnvanbreda commented on #107
@kitenetter after a user deletes their account on iRecord, any records they had on iRecord will no longer be associated with their user ID as they are re-pointed to an anonymous user. So if a verifier accepts a record then the notification would only go to the anonymous user account.

[2022-06-30 16:59] kitenetter commented on #107
Hi @johnvanbreda I'm probably being dense, but earlier on Andy said "The email in the Warehouse is only set to anonymous if there are no other websites left." So I don't understand why a user who has added records to iRecord, and then deletes their iRecord account but retains a CEDaR account (for example), will not continue to receive notifications?

[2022-06-30 17:09] kazlauskis commented on #107
@kitenetter Deleting a user in one of the apps or the website will keep the user session active for a day in other places. The apps will then automatically logout this user from the app.

[2022-06-30 17:43] kitenetter commented on #107
This is my suggested wording for the email message following account deletion.

Subject: Your account has been deleted from {website_name}

Your account has been removed from the {website_name} website and any related apps. Records that you have previously added to {website_name} will be retained in the database as specified in our Terms of Use.

Our records show that you are still registered with

[2022-06-30 17:44] kitenetter commented on #107
@kazlauskis are we able to provide information within the apps explaining what will happen if a user chooses to delete their account, e.g. via a pop-up if the delete button is chosen? If so do you need any wording for this?

[2022-07-01 06:55] kazlauskis commented on #107
@kitenetter the app currently shows "This will remove your account on the iRecord website. You will lose access to any records that you have previously submitted using the app or website." when deleting the account. Let me know if you wanted to add anything else.

[2022-07-01 07:48] andrewvanbreda commented on #107
@BirenRathod
I have a small Drupal module that will hide Cancel Account for non-admin users for the various projects.
I know in the past you said that I shouldn't install Drupal modules.
Is that something you will need to do?

[2022-07-01 07:50] BirenRathod commented on #107
@andrewvanbreda Yes, of course , I can do. send me the link.

[2022-07-01 07:53] BirenRathod commented on #107
@andrewvanbreda Is it this one -> https://www.drupal.org/project/delete_all

[2022-07-01 08:00] andrewvanbreda commented on #107
@BirenRathod
No it is one I have written.

I have attached it but it can also be found in git support_files/User anonymisation support files/admin_only_account_cancel

It is about as small you can get, so I don't envisage problems, but maybe an idea to try it on NPMS test first or something. I have seen it fine on my own machine.

It will then need to go on all the sites where Karolis has changed

[2022-07-01 08:44] BirenRathod commented on #107
@andrewvanbreda There is another repository I used for all sites apart from site based repository. This is called upstream repository. Once I upload your module to that, it will available for all sites. In future, I will do  the same for iform module too, so when new release happened, it will push thorough upstream repository, so update will happened on all sites.

Anyway don't worry too much at p

[2022-07-01 10:05] andrewvanbreda commented on #107
@kitenetter I asked john to put your new wording into the configuration.
The new code is now all live on the warehouse end, although it won't fire until we update the Drupal sites.

[2022-07-01 10:53] kitenetter commented on #107
@kazlauskis is it okay to extend that wording a little:

"This will remove your account on the iRecord website and any other iRecord apps. Records that you have previously submitted using the app or website will be retained in iRecord (as specified in our Terms of Use), but you will lose direct access to those records (e.g. you will no longer be able to edit them, and will no longer receive notifi

[2022-07-01 12:09] kazlauskis commented on #107
@kitenetter thanks, I'll update the text. Yes, we can add a similar popup to other apps too.

[2022-07-01 14:01] andrewvanbreda commented on #107
@kitenetter @kazlauskis
iRecord is now done apart from the Cancel button is showing for standard users.

Biren, what is the situation with getting my new module live?

I will do NPMS now.

@kazlauskis
With PoMS being a multi-site, multi-app project, am I correct in thinking it is the FIT Count site that needs the new code as that is what you attach to?
(and I don't need to worry about the SPRING/U

[2022-07-01 14:38] BirenRathod commented on #107
@andrewvanbreda The new module available on all sites now.

[2022-07-01 14:42] andrewvanbreda commented on #107
@BirenRathod
Thanks Biren :)

[2022-07-01 15:13] kazlauskis commented on #107
@andrewvanbreda sorry, I don't know what the Indicia Features is for. You're much more knowledgeable in this area 🙂

Yes, the app only talks to the https://fitcount.ceh.ac.uk site.

[2022-07-01 15:16] andrewvanbreda commented on #107
@kazlauskis
It is a folder containing modules including easy_login.
That is the module that the easy_login_user_delete function is in.

I would imagine we need to install it else you can't call that function, but I know that site is setup in unusual way and doesn't allow direct registration, so am checking because installing may (or may not) interfere with whatever has been done for that.

[2022-07-01 15:32] kazlauskis commented on #107
The registration is from the app indeed. As long as the core account functionality stays the same then I'm OK.

[2022-07-01 15:50] andrewvanbreda commented on #107
@kazlauskis Ah ok, I think I can see what is happening, there is a special module installed preventing registration....hopefully that should be ok. I guess that is what the test site is for.

Hi @BirenRathod
The Fit Count site needs the easy_login Indicia module installed. That is a Indicia Drupal module, so is that something you'll need to do or can I do it.
So that is part of
drupal-8-modules-in

[2022-07-01 16:55] BirenRathod commented on #107
@andrewvanbreda you can do it.

[2022-07-01 17:21] andrewvanbreda commented on #107
@kazlauskis @kitenetter @DavidRoy
iRecord (and NPMS) went fully live with everything a few hours ago so nothing left to do on those sites apart from anything Karolis is doing

[2022-07-01 17:42] andrewvanbreda commented on #107
@kazlauskis @BirenRathod
Darn not working as there are already field defined with the names easy_login wants to installed.
Will have to another time.

[2022-07-01 17:48] BirenRathod commented on #107
@andrewvanbreda you can't installed this untill you delete all those fields manually. This is fiddly, so you need to be careful doing so.

[2022-07-01 18:17] johnvanbreda commented on #107
@andrewvanbreda rather than delete the fields - which will destroy existing data, wouldn't it be better to hack the easy_login module temporarily to remove the relevant field definitions from config/install. Then install it and put the definitions back once done.

[2022-07-01 18:31] andrewvanbreda commented on #107
@BirenRathod @johnvanbreda
Thanks for the thoughts. I will hack the easy_login module but prob not best to do that right now, as Karolis or other support may not be available if things go wrong this evening.

[2022-07-04 07:15] andrewvanbreda commented on #107
@kazlauskis
I have deployed the updates to Easy Login to the FIT Count site (and the code to hide the account cancel button).
I can only assume this won't have had any negative affect on the FIT Count App, but you may wish to check.

Also note as all of these sites are now running Master versions of the code, that logging message that was previously present is no longer there.
Let me know if you n

[2022-07-05 15:30] DavidRoy opened #146 "Moths - suggestion for other species to include"
Message from Mark Cubitt

I have received a record of Six Spot Burnet via the iRecord Butterflies app. I can't accept it as it may well be a Narrow-bordered Five-spot Burnet. The recorder didn't consider this possibility and just looked at the images in the app which doesn't appear to include this species? I can maybe understand wanting to avoid confusion with Five-spot Burnet in England, but even

[2022-07-05 15:39] DavidRoy opened #147 "Likelihood filters not matching location?"
Feedback from recorder:
While using the app in Linlithgow, West Lothian, I tried retrospectively recording Large Skipper for a Berwickshire location, but it appears that the species selection doesn't change based on the location I add to the Recording screen and so it says 'Species not recorded from your area' too. This is not the case and again the info section for the species shows it present th

[2022-07-06 12:50] DavidRoy commented on #147
yes please, that is what people will expect I think

[2022-07-07 20:26] kazlauskis commented on #107
@andrewvanbreda thanks for your work on this. I've checked the FIT app works fine with the live site. I'll create new tickets for other apps when necessary.

Thanks everybody! Closing this.

[2022-07-11 16:39] robin-hutchinson opened #148 "Back button to close the app"
An Android user of the app has asked "Can you enable the standard l phone back button?" to allow users to close the app more easily.

[2022-07-13 13:29] DavidRoy opened #149 "Image cropping functionality for photos"
Image classification works better with a cropped image of the target butterfly.  Implement image cropping functionality, analagous to Esurveyor

[2022-07-13 13:36] DavidRoy opened #150 "App does not remember setting for accessing photos"
The app does not remember the answer to this question.  Is annoying to be asked this all the time.  Can this choice be remembered
![IMG_5518](https://user-images.githubusercontent.com/2699478/178746758-79309aa8-ec80-4fee-9c9a-3ea6d81076f2.PNG)

[2022-07-13 13:43] DavidRoy opened #151 "Image classification - symbols on photos and species names?"
When using the image classifier, the symbol in the bottom right of the photo thumbnail is a circle with an orange circle with a '!' inside when no species selected.  Even when the classifier is quite confident (100% in this example below as a Dark Green Fritillary).  When the species name is selected and matches, the symbol changes to a green tick if the classifier matches the name selected.  I fo

[2022-07-20 11:15] Vilius-Stankaitis commented on #151
@DavidRoy Hi, I have updated mockup. Would this be more clear?

https://projects.invisionapp.com/prototype/Butterflies-ckzflr6fm00qhtz01d0yejhpv/play/388c3d38

Potentially, we could add a new layout (Suggestions from your photos). Or extend layout with classifier result.

When no species is selected icons shows image classifier result. If species is selected then
icons indicate a match between the

[2022-07-20 19:56] DavidRoy commented on #151
Thanks.  That works well I think.

[2022-07-21 10:47] kazlauskis commented on #151
@RichardFoxBC are you also OK with this?

@RichardFoxBC @DavidRoy Would you like to keep the AI suggestions as a separate list, e.g. "Suggestions from your photos" right above the "Flying now in your area" list (see the first screenshot) OR is it better to embed the AI likelihood results in the existing lists (see the second screenshot).

[2022-07-21 11:16] DavidRoy commented on #151
@kazlauskis I might need this explaining, either when we meet next week or a quick zoom today or tomorrow.

If I understand correctly, I prefer to have the AI results with the photo(s).  A symbol over the photo showing the %fit for the top species, then if clicking on the photo showing the full set of AI results (i.e. the last screenshot).  So no link to the 'Flying now in your area' list

The exa

[2022-07-22 12:12] kazlauskis commented on #151
Yeah, let's discuss this when we meet next week.

[2022-07-25 12:47] #145 closed

[2022-07-27 08:54] RichardFoxBC opened #152 "Disable species observations while Timed Count timer is paused"
To ensure people remember to restart the timer, we should prevent them from adding further sightings while the timer is paused

[2022-07-27 08:56] RichardFoxBC opened #153 "Some species photo icons missing"
There are a few of the new species icons missing from the species lists that appear in the user's statistics lists e.g. High Brown Fritillary, Dingy Skipper.

[2022-07-27 09:15] RichardFoxBC opened #154 "Remove day-flying moths from the "Species recorded" statistics"
On the statistics page, under "My totals", please filter out moth records from the "Species recorded (total)" and "Species recorded (2022)" values. I suggest we change the text to read "Butterfly species recorded (total)" and "Butterfly species recorded (2022)" if there is space.

Moth records can contribute to the Records (total) and Records (2022) values.

[2022-07-27 09:20] RichardFoxBC opened #155 "AI photo text change"
In the AI image classifier please change the standard texts as follows:

Please change "likely the SPECIES NAME species" to "likely to be SPECIES NAME"

[2022-07-27 09:25] RichardFoxBC opened #156 "Add pop-up where user has moth recording switched off but has photographed one of the recordable moths"
When the user has not enabled moth species but adds an image that the image classifier strongly thinks is one of the moth species included in the app then add a pop-up box with text: "You can record selected moth species with this app by visiting the app settings in the Menu and switching on Enable moth species"

[2022-07-28 10:31] kazlauskis opened #157 "Improve app accessibility"
From a user:

It wouldn't take much work to improve the interface to conform to the [WCAG AAA standard](https://www.w3.org/WAI/WCAG21/Understanding/conformance#levels).

<img width="1017" alt="Screenshot 2022-07-28 at 11 29 27" src="https://user-images.githubusercontent.com/7383162/181484783-541a3927-a8ed-494c-aeab-8950944cfa26.png">

[2022-08-04 09:39] kazlauskis commented on #153
The issue with missing icons is that some of the species in the report are subspecies. So it can happen that a user records multiple `Erynnis tages` in the app and then changes one of these on the website (or a verifier corrects it) to a `Erynnis tages tages`. This then creates a new entry in the report which doesn't quite match the species profiles in the app. Essentially the list has multiple en

[2022-08-04 12:55] #152 closed

[2022-08-04 12:57] #148 closed

[2022-08-04 13:02] #156 closed

[2022-08-04 13:06] #147 closed

[2022-08-08 10:28] RichardFoxBC commented on #153
High Brown Fritillary still showing with no photo icon in my Statistics species report for 2022

[2022-08-08 10:34] RichardFoxBC commented on #154
This isn't fixed in the app version that I'm testing v2.4.0 (211). There are still day-flying moths in the species report

[2022-08-08 10:51] Vilius-Stankaitis commented on #153
Thank you, I will take a look.

[2022-08-08 10:56] DavidRoy commented on #153
I'm missing photo icons for Dingy Skipper and Holly Blue in my 'All years' report.  But not 'Holly blue' from individual year reports.  Dingy skipper is missing from all reports.

[2022-08-08 10:57] DavidRoy commented on #154
Same for me.  I have day-flying moths for both year and all-years reports

[2022-08-08 11:27] Vilius-Stankaitis commented on #154
Sorry, please don't test the 211 build it's an old one. I will release the new version.

[2022-08-08 12:30] Vilius-Stankaitis commented on #153
"High Brown Fritillary" does not have the icon, because the scientific name from the app and the report does not match.

App -> "Fabriciana adippe"
Report (iRecord) ->  "Argynnis adippe"

Matching on common names is going to be tricky as these can change on the website and have different formatting than what is currently in the app.

[2022-08-08 13:45] DavidRoy commented on #153
Can you match on taxon_meaning_id which should handle synonymy?  This would need your app list including these IDs and the Indicia report to include the IDs?

[2022-08-09 06:45] Vilius-Stankaitis commented on #153
Indicia report has taxon_meaning_id, so I only need to add ids to the app list. Maybe there is an existing report for taxon_meaning_id that I could use? Or can someone export it if I provide warehouse_id?

[2022-08-09 08:10] RichardFoxBC commented on #149
I thought we agreed that photo cropping needed to implemented for the next release (i.e. version 5). I can't see any sign of it in the app. Without it the image recognition function doesn't work very well

[2022-08-09 08:12] RichardFoxBC opened #158 "What's New text and image"
I really like the "What's New" pop-up that appeared when I updated the app this morning. I assume that will be there for everyone and is not related to beta-testing? My only concern is with the (Clouded Yellow) image used in this pop-up. Where is that from and do we have permission to use it??

[2022-08-09 08:15] RichardFoxBC commented on #154
Great! The day-flying moths have now gone from my species report, but they are still being counted in the species total - please can the species total (for the current year or all time) just include butterfly species and exclude day-flying moths?